<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="darkblue">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <div class="row">
                            <div class="col-xs-10">
                                <ul id="myTabs" class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#forthcoming" data-toggle="tab">Forthcoming</a>
                                    </li>
                                    <li class="">
                                        <a href="#current" data-toggle="tab">Current</a>
                                    </li>
                                    <li class="">
                                        <a href="#past" data-toggle="tab">Past</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-2 hidden">
                                <button type="button" class="btn btn-success-green font-16 pull-right m-t-b-none">
                                    <i class="material-icons">add</i>Add Booking
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content p-l-r-none p-t-none">
                <div class="tab-content m-t-none">
                    <div class="tab-pane active" id="forthcoming">
                        <div class="booking-detail">
                            <div class="row">
                                <div class="col-md-6">
                                    <property-info-cmp *ngIf="bookingService.booking && enquiryService.enquiry"
                                                       [data]="bookingService.booking"
                                                       [propertyId]="enquiryService.enquiry.Enquiry.PropertyId"></property-info-cmp>
                                    <payment-status-cmp *ngIf="bookingService.booking"
                                                        [data]="bookingService.booking.Payments"></payment-status-cmp>
                                </div>
                                <div class="col-md-6">
                                    <proposal-cmp *ngIf="enquiryService.enquiry" [data]="enquiryService.enquiry"></proposal-cmp>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="current">
                    </div>
                    <div class="tab-pane" id="past">

                    </div>
                    <div class="tab-pane" id="forthcoming-details">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" [hidden]="true">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
