<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="darkblue">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <div class="row">
                            <div class="col-xs-10">
                                <ul id="myTabs" class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a [routerLink]="['/booking']" data-toggle="tab">Forthcoming</a>
                                    </li>
                                    <li class="">
                                        <a [routerLink]="['/booking/current']" data-toggle="tab">Current</a>
                                    </li>
                                    <li class="">
                                        <a [routerLink]="['/booking/past']" data-toggle="tab">Past</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-2 hidden">
                                <button type="button" class="btn btn-success-green font-16 pull-right m-t-b-none">
                                    <i class="material-icons">add</i>Add Booking
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content p-l-r-none p-t-none">
                <div class="tab-content m-t-none">
                    <div class="tab-pane active" id="forthcoming">
                        <div class="booking-detail">
                            <form [formGroup]="bookingForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <property-info-cmp *ngIf="bookingService.booking && enquiryService.enquiry"
                                                           [data]="bookingService.booking"
                                                           [group]="bookingForm"
                                                           [propertyId]="enquiryService.enquiry.Enquiry.PropertyId"></property-info-cmp>
                                        <payment-status-cmp *ngIf="bookingService.booking"
                                                            [data]="bookingService.booking.Payments"></payment-status-cmp>
                                    </div>
                                    <div class="col-md-6">
                                        <proposal-cmp *ngIf="enquiryService.enquiry" [data]="enquiryService.enquiry"></proposal-cmp>
                                        <div class="enquiry-footer p-l-r-30">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button type="button" class="btn btn-danger font-16 m-l-10" (click)="cancelBooking()">Cancel booking</button>
                                                </div>
                                                <div class="col-xs-6" *ngIf="!loginService.getRoles('Agent')">
                                                    <button type="submit" class="btn btn-success pull-right font-16 m-r-10" (click)="saveBooking()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" [hidden]="bookingService.booking && enquiryService.enquiry">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
