<div class="payment-status">
    <div class="row">
        <div class="col-xs-12">
            <div class="heading-line">Payment Status</div>
        </div>
        <div class="col-xs-12">
            <div *ngFor="let item of data; let i = index"
                 class="status-line"
                 [ngClass]="{
                    done: item.Complete,
                    current: (loginService.getRoles(item.RoleResponsible) && data[i - 1] && data[i - 1].Complete) || (loginService.getRoles(item.RoleResponsible) && !data[i - 1])
                 }">
                {{item.Description}}
                <div class="status-date pull-right" *ngIf="item.CompletedAt">{{formatDate(item.CompletedAt, 'DD/MM/YYYY')}}</div>
                <button *ngIf="(loginService.getRoles(item.RoleResponsible) && data[i - 1] && data[i - 1].Complete) || (loginService.getRoles(item.RoleResponsible) && !data[i - 1])"
                        class="btn btn-success-green font-14 pull-right">Confirm</button>
            </div>
            <div class="status-line current hidden">
                Payment Received by Manager
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success-green font-16">Send Message</button>
        </div>
    </div>
</div>
