<div class="payment-status">
    <div class="row">
        <div class="col-xs-12">
            <div class="heading-line">Payment Status</div>
        </div>
        <div class="col-xs-12">
            <div class="status-line done">
                Awaiting Payment from Agent
                <div class="status-date pull-right">07/07/17</div>
            </div>
            <div class="status-line done">
                Payment Sent by Agent
                <div class="status-date pull-right">08/07/17</div>
            </div>
            <div class="status-line done">
                Payment Received by Privadia Exchange
                <div class="status-date pull-right">08/07/17</div>
            </div>
            <div class="status-line done">
                Payment Transferred to Manager
                <div class="status-date pull-right">09/07/17</div>
            </div>
            <div class="status-line current">
                Payment Received by Manager
                <button class="btn btn-success-green font-14 pull-right">Confirm</button>
            </div>
            <div class="status-line">
                Booking Confirmed
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success-green font-16">Send Message</button>
        </div>
    </div>

</div>
