.input-group .input-group-addon {
    padding-top: 15px;
    padding-left: 0px;
}
.input-group .material-icons {
    color: #5399bc;
    font-size: 18px;
}
input {
    color: #3a3a3a;
}
.error-list {
    margin-bottom: 0px;
    padding-left: 15px;
    font-size: 12px;
}
div.error-list {
    padding-left: 0px;
}
div.error-list p {
    margin-bottom: 0px;
}
