<div class="input-group">
    <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
    <div class="form-group label-floating">
        <label class="control-label">{{data.title}}</label>
        <input type="text"
               value="{{data.value}}"
               class="form-control datepicker" />
        <!--
        <input type="text"
               class="form-control datepicker"
               #datePicker
               [ngModel]="rate.controls.StartDate.value"
               (blur)="rate.controls.StartDate.setValue(datePicker.value)"
               [formControl]="rate.controls.StartDate"/>
        -->
    </div>
</div>
<!--
<div class="input-group">
    <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
    <div class="form-group date-group">
        <label class="control-label">{{data.title}}</label>
        <input type="text"
               class="form-control datepicker" />
        <!--
        <input type="text"
               class="form-control datepicker"
               #datePicker
               [ngModel]="rate.controls.StartDate.value"
               (blur)="rate.controls.StartDate.setValue(datePicker.value)"
               [formControl]="rate.controls.StartDate"/>
        --><!--
    </div>
</div>-->

