<div class="messages-container">
    <div class="messages-wrp">
        <div class="messages">
            <div class="row">
                <div class="col-xs-12">
                    <div class="date-line">28 Jun 2017</div>
                </div>
            </div>
            <div class="row" *ngFor="let item of data; let i = index">
                <div class="col-xs-12">
                    <div *ngIf="!item.SystemGenerated" class="message" [ngClass]="{to: item.IsMine, from: !item.IsMine}">
                        <div class="message-text">{{item.Content}}</div>
                        <div class="message-date pull-left">Read at 1:42 pm</div>
                        <div class="message-date">1:38 pm</div>
                    </div>
                    <div *ngIf="item.SystemGenerated" class="message info">
                        <div class="message-text">
                            <i class="material-icons">info_outline</i> Proposal has been updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <form [formGroup]="messageForm" class="message-send" (submit)="onSubmit(messageForm.value)">
        <input-field-cmp [data]="{title: 'Type in your message', type: 'text'}"
                         [field]="messageForm.controls.Content"></input-field-cmp>
        <button class="btn btn-just-icon btn-simple btn-send" title="Send" type="submit">
            <i class="material-icons">send</i>
            <div class="ripple-container"></div>
        </button>
    </form>
</div>
