<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="rateForm" (ngSubmit)="onSubmit()" class="col-xs-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Rates for "{{propertyService.property && propertyService.property.InternalName}}"</h4>
                        <h5 class="danger" *ngIf="propertyService.warning != null && !loginService.getRoles('Agent')">{{propertyService.warning}}</h5>
                        <div class="material-datatables">
                            <table id="datatables"
                                   class="table table-rates"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="25%">Start Date</th>
                                        <th width="25%">End Date</th>
                                        <th width="9%">Value</th>
                                        <th width="12%">Commission %</th>
                                        <th width="9%">Fees</th>
                                        <th width="10%">Currency</th>
                                        <th width="10%" class="disabled-sorting text-right"></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th width="25%"></th>
                                    <th width="25%"></th>
                                    <th width="9%"></th>
                                    <th width="12%"></th>
                                    <th width="9%"></th>
                                    <th width="10%"></th>
                                    <th width="10%" class="disabled-sorting text-right"></th>
                                </tr>
                                </tfoot>
                                <tbody id="bookingTableBody" *ngIf="propertyService.rates.length">
                                <!-- <tbody formArrayName="Rates" id="bookingTableBody" *ngIf="ratesForm.controls.Rates">-->
                                    <tr *ngFor="let rate of propertyService.rates; let i = index">
                                        <td width="25%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                <popover-content #StartDate placement="bottom" 
                                                                 class="danger" 
                                                                 [closeOnMouseOutside]="false"
                                                                 [closeOnClickOutside]="false">
                                                    <i class="material-icons text-danger">error</i>
                                                    <span class="tool-tip-err text-danger">{{rateForm.controls.StartDate?.errors?.serverError}}</span>
                                                </popover-content>
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker datepicker-max-86"
                                                       [class.data-err]="rateForm.controls.StartDate.invalid"
                                                       #datePicker 
                                                       [popover]="StartDate" 
                                                       [popoverDisabled]="!rateForm.controls.StartDate.invalid"
                                                       [popoverOnHover]="rateForm.controls.StartDate.invalid"
                                                       [ngModel]="rateForm.controls.StartDate.value"
                                                       (blur)="rateForm.controls.StartDate.setValue(datePicker.value)"
                                                       [formControl]="rateForm.controls.StartDate"/>
                                            </div>
                                            <!--
                                            <datetimepicker-field-cmp *ngIf="isEdit[i]"
                                                                      [data]="{title: 'Check In'}"
                                                                      [classes]="{withIcon: true, otherClasses: ''}"
                                                                      [field]="rateForm.controls.StartDate"></datetimepicker-field-cmp>
                                            -->
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{formatDate(rate.StartDate, 'DD/MM/YYYY')}}</span>
                                            </div>
                                        </td>
                                        <td width="25%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                    <popover-content #EndDate placement="bottom" 
                                                                    class="danger" 
                                                                    [closeOnMouseOutside]="false"
                                                                    [closeOnClickOutside]="false">
                                                        <i class="material-icons text-danger">error</i>
                                                        <span class="tool-tip-err text-danger">{{rateForm.controls.EndDate?.errors?.serverError}}</span>
                                                    </popover-content>
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker datepicker-max-86"
                                                       [class.data-err]="rateForm.controls.EndDate.invalid"
                                                       #datePicker 
                                                       [popover]="EndDate" 
                                                       [popoverDisabled]="!rateForm.controls.EndDate.invalid"
                                                       [popoverOnHover]="rateForm.controls.EndDate.invalid" 
                                                       [ngModel]="rateForm.controls.EndDate.value"
                                                       (blur)="rateForm.controls.EndDate.setValue(datePicker.value)"
                                                       [formControl]="rateForm.controls.EndDate"/>
                                            </div>
                                            <!--
                                            <datetimepicker-field-cmp *ngIf="isEdit[i]"
                                                                      [data]="{title: 'Check In'}"
                                                                      [classes]="{withIcon: true}"
                                                                      [field]="rateForm.controls.EndDate"></datetimepicker-field-cmp>
                                            -->
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{formatDate(rate.EndDate, 'DD/MM/YYYY')}}</span>
                                            </div>
                                        </td>
                                        <td width="9%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                    <popover-content #Value placement="bottom" 
                                                                    class="danger" 
                                                                    [closeOnMouseOutside]="false"
                                                                    [closeOnClickOutside]="false">
                                                        <i class="material-icons text-danger">error</i>
                                                        <span class="tool-tip-err text-danger">{{rateForm.controls.Value?.errors?.serverError}}</span>
                                                    </popover-content>
                                                <input type="number"
                                                       class="form-control" 
                                                       [class.data-err]="validateValue()"
                                                       (change)="validateValue()"
                                                       [popover]="Value"
                                                       [popoverDisabled]="!rateForm.controls.Value.invalid"
                                                       [popoverOnHover]="rateForm.controls.Value.invalid"
                                                       [formControl]="rateForm.controls.Value" />
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.Value}}</span>
                                            </div>
                                        </td>
                                        <td width="12%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                    <popover-content #CommissionPercentage placement="bottom" 
                                                                    class="danger" 
                                                                    [closeOnMouseOutside]="false"
                                                                    [closeOnClickOutside]="false">
                                                        <i class="material-icons text-danger">error</i>
                                                        <span class="tool-tip-err text-danger">{{rateForm.controls.CommissionPercentage?.errors?.serverError}}</span>
                                                    </popover-content>
                                                <input type="number"
                                                       class="form-control" 
                                                       [class.data-err]="validateCommissionPercentage()"
                                                       (change)="validateCommissionPercentage()"
                                                       [popover]="CommissionPercentage"
                                                       [popoverDisabled]="!rateForm.controls.CommissionPercentage.invalid"
                                                       [popoverOnHover]="rateForm.controls.CommissionPercentage.invalid"
                                                       [formControl]="rateForm.controls.CommissionPercentage" />
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.CommissionPercentage}}</span>
                                            </div>
                                        </td>
                                        <td width="9%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                    <popover-content #Fees placement="bottom" 
                                                                    class="danger" 
                                                                    [closeOnMouseOutside]="false"
                                                                    [closeOnClickOutside]="false">
                                                        <i class="material-icons text-danger">error</i>
                                                        <span class="tool-tip-err text-danger">{{rateForm.controls.Fees?.errors?.serverError}}</span>
                                                    </popover-content>
                                                <input type="number"
                                                       class="form-control" 
                                                       [class.data-err]="validateFees()"
                                                       (change)="validateFees()"
                                                       [popover]="Fees"
                                                       [popoverDisabled]="!rateForm.controls.Fees.invalid"
                                                       [popoverOnHover]="rateForm.controls.Fees.invalid"
                                                       [formControl]="rateForm.controls.Fees"/>
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.Fees}}</span>
                                            </div>
                                        </td>
                                        <td width="10%">
                                            <div class="form-group">
                                                <span>{{rate.Currency}}</span>
                                            </div>
                                        </td>
                                        <td width="10%" class="text-right">
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i] && !loginService.getRoles('Agent')"
                                                    (click)="editRates({index: i})">
                                                <i class="material-icons text-primary">edit</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i] && !loginService.getRoles('Agent')"
                                                    [popover]="deleteRatePopover">
                                                <i class="material-icons text-danger">delete</i>
                                            </button>
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i] && !loginService.getRoles('Agent')"
                                                    [disabled]="validateValue() || validateCommissionPercentage() || validateFees()"
                                                    (click)="saveRates({index: i})">
                                                <i class="material-icons text-primary">done</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i] && !loginService.getRoles('Agent')"
                                                    (click)="clearRates({rate: rate, index: i})">
                                                <i class="material-icons text-danger">clear</i>
                                            </button>
                                            <popover-content #deleteRatePopover
                                                             placement="left"
                                                             [animation]="true"
                                                             [closeOnClickOutside]="true">
                                                <h3>Are you sure?</h3>
                                                <button type="button" class="btn btn-danger font-14" (click)="deleteRate({index: i})">Yes, remove</button>
                                                <button type="button" class="btn btn-success-green font-14" (click)="deleteRatePopover.hide($event)">Cancel</button>
                                            </popover-content>
                                        </td>
                                        {{ propertyService.rates.length && !datatableInited ? finishReading() : "" }}
                                    </tr>
                                    <!--
                                    <tr *ngFor="let rate of ratesForm.controls.Rates.controls; let i = index">
                                        <td width="30%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker"
                                                       #datePicker
                                                       [ngModel]="rate.controls.StartDate.value"
                                                       (blur)="rate.controls.StartDate.setValue(datePicker.value)"
                                                       [formControl]="rate.controls.StartDate"/>
                                            </div>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{rate.controls.StartDate.value}}</span>
                                            </div>
                                        </td>
                                        <td width="30%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker"
                                                       #datePicker
                                                       [ngModel]="rate.controls.EndDate.value"
                                                       (blur)="rate.controls.EndDate.setValue(datePicker.value)"
                                                       [formControl]="rate.controls.EndDate"/>
                                            </div>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{rate.controls.EndDate.value}}</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                <input type="text"
                                                       class="form-control"
                                                       [formControl]="rate.controls.Value" />
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.controls.Value.value}}</span>
                                            </div>
                                        </td>
                                        <td width="10%">
                                            <div class="form-group">
                                                <span>{{rate.controls.Currency.value}}</span>
                                            </div>
                                        </td>
                                        <td width="10%" class="text-right">
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="editRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-primary">edit</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="removeRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-danger">delete</i>
                                            </button>
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="saveRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-primary">done</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="clearRates({rate: rate, index: i})">
                                                <i class="material-icons text-danger">clear</i>
                                            </button>
                                        </td>
                                        {{ !propertyService.isReading && !datatableInited ? finishReading() : "" }}
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                            <div *ngIf="!loginService.getRoles('Agent')"  class="row">
                                <div class="col-xs-12 text-right">
                                    <button [disabled]="isEditing" class="btn btn-success btn-edit btn-icon"
                                            type="button"
                                            (click)="addRow()">
                                        <i class="material-icons">add</i>Add Rate
                                    </button>
                                    <button class="btn btn-success btn-edit btn-icon hidden"
                                            type="button"
                                            (click)="onSubmit()">
                                        Save
                                    </button>
                                    <a class="btn btn-default font-14 btn-delete btn-icon" [routerLink]="['/properties']">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
