<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="rateForm" (ngSubmit)="onSubmit()" class="col-xs-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Set Rates</h4>
                        <div class="material-datatables">
                            <table id="datatables"
                                   class="table table-rates"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Value</th>
                                        <th>Currency</th>
                                        <th class="disabled-sorting text-right"></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="disabled-sorting text-right"></th>
                                </tr>
                                </tfoot>
                                <tbody id="bookingTableBody" *ngIf="propertyService.rates.length">
                                <!-- <tbody formArrayName="Rates" id="bookingTableBody" *ngIf="ratesForm.controls.Rates">-->
                                    <tr *ngFor="let rate of propertyService.rates; let i = index">
                                        <td width="30%">
                                            <datetimepicker-field-cmp *ngIf="isEdit[i]"
                                                                      [data]="{title: 'Check In'}"
                                                                      [classes]="{withIcon: true}"
                                                                      [field]="rateForm.controls.StartDate"></datetimepicker-field-cmp>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{formatDate(rate.StartDate, 'DD/MM/YYYY')}}</span>
                                            </div>
                                        </td>
                                        <td width="30%">
                                            <datetimepicker-field-cmp *ngIf="isEdit[i]"
                                                                      [data]="{title: 'Check In'}"
                                                                      [classes]="{withIcon: true}"
                                                                      [field]="rateForm.controls.EndDate"></datetimepicker-field-cmp>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{formatDate(rate.EndDate, 'DD/MM/YYYY')}}</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                <input type="text"
                                                       class="form-control"
                                                       [formControl]="rateForm.controls.Value" />
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.Value}}</span>
                                            </div>
                                        </td>
                                        <td width="10%">
                                            <div class="form-group">
                                                <span>{{rate.Currency}}</span>
                                            </div>
                                        </td>
                                        <td width="10%" class="text-right">
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="editRates({index: i})">
                                                <i class="material-icons text-primary">edit</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="removeRates({index: i})">
                                                <i class="material-icons text-danger">delete</i>
                                            </button>
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="saveRates({index: i})">
                                                <i class="material-icons text-primary">done</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="clearRates({rate: rate, index: i})">
                                                <i class="material-icons text-danger">clear</i>
                                            </button>
                                        </td>
                                        {{ propertyService.rates.length && !datatableInited ? finishReading() : "" }}
                                    </tr>
                                    <!--
                                    <tr *ngFor="let rate of ratesForm.controls.Rates.controls; let i = index">
                                        <td width="30%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker"
                                                       #datePicker
                                                       [ngModel]="rate.controls.StartDate.value"
                                                       (blur)="rate.controls.StartDate.setValue(datePicker.value)"
                                                       [formControl]="rate.controls.StartDate"/>
                                            </div>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{rate.controls.StartDate.value}}</span>
                                            </div>
                                        </td>
                                        <td width="30%">
                                            <div class="form-group date-group" *ngIf="isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <input type="text"
                                                       class="form-control datepicker"
                                                       #datePicker
                                                       [ngModel]="rate.controls.EndDate.value"
                                                       (blur)="rate.controls.EndDate.setValue(datePicker.value)"
                                                       [formControl]="rate.controls.EndDate"/>
                                            </div>
                                            <div class="form-group date-group" *ngIf="!isEdit[i]">
                                                <i class="material-icons">insert_invitation</i>
                                                <span class="text-value">{{rate.controls.EndDate.value}}</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="form-group" *ngIf="isEdit[i]">
                                                <input type="text"
                                                       class="form-control"
                                                       [formControl]="rate.controls.Value" />
                                            </div>
                                            <div class="form-group" *ngIf="!isEdit[i]">
                                                <span class="text-value">{{rate.controls.Value.value}}</span>
                                            </div>
                                        </td>
                                        <td width="10%">
                                            <div class="form-group">
                                                <span>{{rate.controls.Currency.value}}</span>
                                            </div>
                                        </td>
                                        <td width="10%" class="text-right">
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="editRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-primary">edit</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="!isEdit[i]"
                                                    (click)="removeRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-danger">delete</i>
                                            </button>
                                            <button class="btn btn-simple btn-edit btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="saveRates({index: i, propertyId: 1})">
                                                <i class="material-icons text-primary">done</i>
                                            </button>
                                            <button class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    *ngIf="isEdit[i]"
                                                    (click)="clearRates({rate: rate, index: i})">
                                                <i class="material-icons text-danger">clear</i>
                                            </button>
                                        </td>
                                        {{ !propertyService.isReading && !datatableInited ? finishReading() : "" }}
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-success btn-edit btn-icon"
                                            type="button"
                                            (click)="addRow()">
                                        <i class="material-icons">add</i>Add Rate
                                    </button>
                                    <button class="btn btn-success btn-edit btn-icon hidden"
                                            type="button"
                                            (click)="onSubmit()">
                                        Save
                                    </button>
                                    <button class="btn btn-default btn-delete btn-icon"
                                            type="button"
                                            (click)="removeRates({index: 1, propertyId: 1})">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
