.table-rates {
}
.table-rates thead th {
	font-size: 16px;
	text-align: left;
	color: #999999;
	border-bottom: 1px solid #c6c6c6;
}
.table-rates tbody td {
	font-size: 16px;
	text-align: left;
	color: #0b5a7c;
	font-weight: 400;
}
.table-rates tbody td.text-right {
	text-align: right;
}
.table-rates tbody td .date-group .material-icons{
	float: left;
	font-size: 16px;
	line-height: 36px;
	margin-right: 15px;
}
.table-rates tbody td .date-group .is-focused .material-icons{
	color: #5399bc;
}
.table-rates tbody td .form-control {
	height: 35px;
	font-size: 16px;
	text-align: left;
	color: #0b5a7c;
	width: 100%;
}
.table-rates tbody td .text-value {
	line-height: 36px;
}
.danger{
	color:red;
}
.datepicker-max-86{
	width: 80% !important;
}
.data-err{
	background-image: linear-gradient(#f44336, #f44336),linear-gradient(#f44336, #f44336);
}
.tool-tip-err{
	line-height: 36px;
}