<div class="row">
    <div class="card filter-card">
        <div class="card-content">
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
                <button class="btn btn-success btn-filter-search">
                    <i class="material-icons">search</i>
                </button>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">euro_symbol</i></span>
                            <input-field-cmp [data]="{title: 'From (€)', name: 'MinRate', type: 'number'}"
                                             [field]="filterForm.controls.MinRate"></input-field-cmp>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">euro_symbol</i></span>
                            <input-field-cmp [data]="{title: 'To (€)', name: 'MaxRate', type: 'number'}"
                                             [field]="filterForm.controls.MaxRate"></input-field-cmp>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <datetimepicker-field-cmp [data]="{title: 'Check In'}"
                                                  [classes]="{withIcon: true}"
                                                  [field]="filterForm.controls.CheckIn"></datetimepicker-field-cmp>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <datetimepicker-field-cmp [data]="{title: 'Check Out'}"
                                                  [classes]="{withIcon: true}"
                                                  [field]="filterForm.controls.CheckOut"></datetimepicker-field-cmp>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <input-field-cmp [data]="{title: 'Bedrooms', name: 'Bedrooms', type: 'number'}"
                                         [field]="filterForm.controls.Bedrooms"></input-field-cmp>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <select-field-cmp *ngIf="dashboardService.regions.length"
                                [data]="{title: 'Locations', name: 'Regions', type: 'number'}"
                                [regions]="dashboardService.regions"
                                [group]="filterForm.controls.Regions"></select-field-cmp>
                    </div>
                    <button id="openFilter" class="btn btn-white btn-round btn-fab btn-just-icon" type="button" data-toggle="collapse" data-target="#extend-filter">
                        <i class="material-icons">more_vert</i>
                    </button>
                </div>
                <div class="row">
                    <div id="extend-filter" class="extend-filter-container collapse" *ngIf="dashboardService.metadata.length">
                        <div class="card">
                            <ul class="row m-l-r-none nav nav-pills">
                                <li class="nav-pill col-xs-2 col-width-21" *ngFor="let metafilter of metafilters">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{metafilter.Name}}</label>
                                        <a class="form-control-static" data-toggle="tab" [href]="'#metafilter-' + metafilter.Id">
                                            Select
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div formArrayName="MetaDataFilters" class="tab-content">
                                        <div *ngFor="let metafilter of metafilters" [id]="'metafilter-' + metafilter.Id" class="tab-pane">
                                            <div class="row">
                                                <div *ngFor="let metadata of metafilter.MetaDataSubTypes" class="col-xs-3">
                                                    <h5 class="m-b-none">{{metadata.Name}}</h5>
                                                    <div class="checkbox" *ngFor="let meta of metadata.MetaData; let i = index">
                                                        <label>
                                                            <input type="checkbox" value="{{meta.Id}}" name="MetaDataFilters" (click)="metadataChange($event)"> {{meta.Name}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success pull-right m-b-30">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="sort-by">
        <div class="form-group select-component always-visible">
            <label class="control-label">Sort by:</label>
            <select class="custompicker"
                    title=""
                    data-style="select-with-transition">
                <option value="1">Price High to Low</option>
                <option value="2">Price Low to High</option>
            </select>
        </div>
    </div>
</div>
