<div class="main-content">
    <div class="container-fluid">
        <div class="row filter" *ngIf="dashboardService.metadata.length">
        	<dashboard-filter-cmp [group]="filterForm" [metafilters]="dashboardService.metadata"></dashboard-filter-cmp>
        </div>
        <div class="row" *ngIf="dashboardService.regions.length">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor=" let item of dashboardService.villas; let i = index " >
                <villa-cmp (openEnquiry)="openEnquiry($event)" [villa]="item" ></villa-cmp>
            </div>
        </div>
    </div>
</div>
<div class="loader" [hidden]="!dashboardService.isReading">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<enquiry-cmp [group]="enquiryForm" [data]="openVilla"></enquiry-cmp>
