.tab-content >div {
	display: none;
}

.tab-content >div.active {
	display: inherit;
}


.metafilter-names .nav-pills > li.active > a, .metafilter-names .nav-pills > li > a:hover {
    background-color: #0b5a7c !important;
}
