<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-b-15 metafilter-names">
                <ul class="nav nav-pills nav-pills-icons nav-pills-grey nav-stacked" role="tablist">
                    <li class="active">
                        <a href="#metatab-info" role="tab" data-toggle="tab" class="secondary-color">
                            Property Info
                        </a>
                    </li>
                    <li class="">
                        <a href="#metatab-images" role="tab" data-toggle="tab" class="secondary-color">
                            Images
                        </a>
                    </li>
                    <li class="">
                        <a href="#metatab-availability" role="tab" data-toggle="tab" class="secondary-color">
                            Availability
                        </a>
                    </li>
                    <li class="">
                        <a href="#metatab-marketing" role="tab" data-toggle="tab" class="secondary-color">
                            Marketing
                        </a>
                    </li>
                    <li *ngFor="let metadata of mainService.metadata; let i = index">
                        <a href="#metatab-property-{{metadata.Id}}" role="tab" data-toggle="tab" class="secondary-color">
                            {{metadata.Name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 subtype-filters-names">
                <div class="tab-content card col-sm-12 col-md-12 col-lg-12">
                <!--  Property Info  -->
                    <div id="metatab-info" class="active card-content">
                        <propertyinfo-cmp #propertyInfo></propertyinfo-cmp>
                    </div>

                    <div id="metatab-images" class="card-content">
                        <propertyimage-cmp #propertyImage></propertyimage-cmp>
                    </div>

                    <div id="metatab-marketing" class="card-content">
                        <propertymarketing-cmp #propertyMargeting></propertymarketing-cmp>
                    </div>

                    <div class="card-content" *ngFor="let metadata of mainService.metadata; let i = index; let last = last" id="metatab-property-{{metadata.Id}}">
                        <metafilter-heading-cmp [name]="metadata.Name" #metafilterHeading></metafilter-heading-cmp>
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" *ngFor="let subtype of metadata.MetaDataSubTypes">
                                <div class="panel-heading" role="tab" id="heading-{{subtype.Id}}">
                                    <a role="button" data-toggle="collapse" [attr.data-parent]="'#metadata-'+metadata.Id" href="#{{subtype.Id}}" aria-expanded="true" [attr.aria-controls]="subtype.Id">
                                        <h4 class="panel-title">
                                            {{subtype.Name}}
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="{{subtype.Id}}" class="panel-collapse collapse in" role="tabpanel" [attr.aria-labelledby]="'heading-'+subtype.Id">
                                    <div class="panel-body">
                                        <button class="subtype-filter btn btn-sm {{ metafilters[option.Id] ? 'btn-success' : 'btn-default'}}" *ngFor="let option of subtype.MetaData" [attr.option-id]="option.Id" (click)="subfilterChange($event)">
                                            <span class="btn-label">
                                                <i class="material-icons">{{ metafilters[option.Id] ? 'check' : 'close' }}</i>
                                            </span>
                                            {{option.Name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="subtype-filter btn btn-primary secondary-color hover-primary-color shadow-grey" (click)="saveInfo()">
                        <span class="btn-label">
                            <i class="material-icons">save</i>
                        </span>
                        Save
                    </button>
                    <button class="subtype-filter btn btn-primary secondary-color hover-primary-color shadow-grey" (click)="continueInfo()">
                        <span class="btn-label">
                            <i class="material-icons">save</i>
                        </span>
                        Save & Continue
                    </button>
                    <button class="subtype-filter btn btn-primary secondary-color hover-primary-color shadow-grey" (click)="discardInfo()">
                        <span class="btn-label">
                            <i class="material-icons">close</i>
                        </span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
