<div class="card-content">
    <div class="row row-image" [sortablejs]="propertyForm.controls.Images.value"
         [sortablejsOptions]="sortablejsOptions">
        <div *ngFor="let item of propertyForm.controls.Images.value; let i = index" class="col-xs-3 m-b-15 image-hover">
            <cl-image data-u="image"
                      public-id="{{item.ImageId}}"
                      cloud-name="privadia"
                      class="md-card-image"
                      crop="fill"
                      quality="80"
                      height="560"
                      width="860"
                      format="jpg">
            </cl-image>
            <a class="delete-image" (click)="deleteImage(i)">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div [formGroup]="propertyForm" class="text-center"
                 *ngIf="propertyForm.controls.Images.value.length == 0 && loginService.getPermission('Properties/Put')">
                <label for="upload" class="upload-image">
                    <i class="material-icons">image</i><br/><br/>
                    <i class="title">Upload a photo of your property</i><br/><br/>
                    <i class="btn btn-success">Upload an Image</i><br/>
                    <input type="file" id="upload" multiple accept="image/jpeg" style="display:none" ng2FileSelect
                           [uploader]="uploader" (change)="fileChange()">
                </label>
            </div>
            <div [formGroup]="propertyForm" class="" *ngIf="propertyForm.controls.Images.value.length && loginService.getPermission('Properties/Put')">
                <label for="upload_2" class="upload-image">
                    <i class="btn btn-success">Upload more</i><br/>
                    <input type="file" id="upload_2" multiple accept="image/jpeg" style="display:none" ng2FileSelect
                           [uploader]="uploader" (change)="fileChange()">
                </label>
            </div>
            <div class="loading-gif" [hidden]="!uploader.isUploading">
                <img src="../assets/img/loading.gif"/>
            </div>
        </div>
    </div>
</div>
