.logo {
}
.logo a {
	padding-left: 12px !important;
	color: white !important;
	font-size: 16pt !important;
	font-weight: 300;
	text-align: left !important;
}
.navbar {
	padding: 0;
	position: absolute;
	z-index: 1111;
	top:13px;
	right:-21px;
}
.navbar .navbar-minimize{
	padding: 0;
}
.navbar .navbar-minimize i{
	color: #7b7b7b !important;
}
.no-divider:after {
	display: none !important;
}
.info a, .info span {
	font-size: 14pt !important;
	font-weight: 100;
}
i {
	color:white !important;
}
.nav li.active.visible > a:not([data-toggle="collapse"]) i {
	color: rgba(60, 72, 88, 0.8) !important;
}
p, span, a {
	color: white;
	font-size: 14pt !important;
	font-weight: 100;
	text-align: left;
}

.active.visible p, .active.visible span {
	color: black;
}

mainfilter-cmp {
	display: none;
}

.active.visible mainfilter-cmp {
	display: inherit;
}