.logo a {
	color: white !important;
}

p, span, a {
	color: white;
}

.active.visible p, .active.visible span {
	color: black;
}

mainfilter-cmp {
	display: none;
}

.active.visible mainfilter-cmp {
	display: inherit;
}