<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="darkblue">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="">
                                <a href="#notifications" data-toggle="tab">
                                    <i class="material-icons">notifications</i> Notifications
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#enquiries" data-toggle="tab">
                                    <i class="material-icons">info</i> Enquiries (1)
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#bookings" data-toggle="tab">
                                    <i class="material-icons">confirmation_number</i> Bookings
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane" id="notifications">

                    </div>
                    <div class="tab-pane active" id="enquiries">
                        <div class="material-datatables">
                            <table id="datatables" class="table table-enquiries">
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="photo">
                                            <img src="../../../assets/img/faces/avatar.jpg" class="" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        Manager Name
                                    </td>
                                    <td>
                                        Villa name, Mary Johnson, 06/12/17 - 06/15/17
                                    </td>
                                    <td>
                                        25 Jun 1:12 PM
                                    </td>
                                    <td>
                                        <div class="enquiry-status accepted">Accepted</div>
                                    </td>
                                    <td>
                                        <button class="btn btn-simple btn-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="photo">
                                            <img src="../../../assets/img/faces/avatar.jpg" class="" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        Manager Name
                                    </td>
                                    <td>
                                        Villa name, Mary Johnson, 06/12/17 - 06/15/17
                                    </td>
                                    <td>
                                        25 Jun 1:12 PM
                                    </td>
                                    <td>
                                        <div class="enquiry-status accepted">Accepted</div>
                                    </td>
                                    <td>
                                        <button class="btn btn-simple btn-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <span class="badge">10</span>
                                    </td>
                                    <td>
                                        <div class="photo">
                                            <img src="../../../assets/img/faces/avatar.jpg" class="" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        Manager Name
                                    </td>
                                    <td>
                                        Villa name, Mary Johnson, 06/12/17 - 06/15/17
                                    </td>
                                    <td>
                                        25 Jun 1:12 PM
                                    </td>
                                    <td>
                                        <div class="enquiry-status"></div>
                                    </td>
                                    <td>
                                        <button class="btn btn-simple btn-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="photo">
                                            <img src="../../../assets/img/faces/avatar.jpg" class="" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        Manager Name
                                    </td>
                                    <td>
                                        Villa name, Mary Johnson, 06/12/17 - 06/15/17
                                    </td>
                                    <td>
                                        25 Jun 1:12 PM
                                    </td>
                                    <td>
                                        <div class="enquiry-status declined">Declined</div>
                                    </td>
                                    <td>
                                        <button class="btn btn-simple btn-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="bookings">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>