<div class="form-group label-floating" [ngClass]="{'form-error': !field.valid && errorForm }">
    <label class="control-label">{{data.title}}</label>
    <span *ngIf="staticField" class="form-control-static">{{field.value}}</span>
    <input *ngIf="!staticField"
           [type]="data.type"
           [textMask]="{mask: inputMask}"
           class="form-control"
           [formControl]="field">
    <div *ngIf="field.errors && field.errors.serverError" class="errors">
        <div *ngIf="field.errors.serverError.length == 1" class="error-list">
            <p *ngFor="let err of field.errors.serverError; let i of index" class="text-danger">{{err}}</p>
        </div>
        <ol *ngIf="field.errors.serverError.length > 1" class="error-list">
            <li *ngFor="let err of field.errors.serverError; let i of index" class="text-danger">{{err}}</li>
        </ol>
    </div>
</div>

