#main-filter .card {
	margin: 0 0 0 20px;
	width: calc(100% - 40px);
}

#main-filter .card .card-content {
	padding: 5px 15px;
}

#main-filter .card .card-content .form-group .budget {
	height: 110px;
	margin-top: 10px;
}

#main-filter .card .card-content .form-group .budget .form-group{
	padding: 0 2px;
}

#main-filter .card .card-content .form-group .label-control {
	margin: 0;
}

#main-filter .card .card-content .form-group .date {
	height: 170px;
}

#main-filter .card .card-content .form-group .date .check-in {
	
}

#main-filter .card .card-content .form-group .filter-title-text {
	
}

#main-filter .card .card-content .form-group .bedrooms {
	height: 70px;
}

#main-filter .card .card-content .form-group .bedrooms #sliderBedroom {
	position: relative;
	left: 20px;
	width: calc(100% - 40px);
}

#main-filter .card .card-content .form-group .locations >div {
	margin-left: 15px;
	margin-bottom: 5px;
}

#main-filter .card .card-content .form-group .locations >div.first-child {
	margin-top: 5px;
}

#main-filter .card .card-content .form-group .locations >div label {
	margin-left: 10px;
}

#main-filter .card .apply-button {
	margin: 10px 20px;
	width: calc(100% - 40px);
}

.form-group {
	margin: 0;
	padding: 0;
}
