<div [formGroup]="propertyForm" class="card-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group label-floating"
                 [ngClass]="{'form-error': !propertyForm.controls['PropertyUrl'].valid}">
                <label class="control-label">Property URL</label>
                <input type="text" class="form-control" formControlName="PropertyUrl" #pdfUrl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group label-floating"
                 [ngClass]="{'form-error': !propertyForm.controls['AssetsUrl'].valid}">
                <label class="control-label">Property assets URL</label>
                <input type="text" class="form-control" formControlName="AssetsUrl" #agencyUrl>
            </div>
        </div>
    </div>
</div>
