<div [formGroup]="propertyForm" class="card-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group label-floating"
                 [ngClass]="{'form-error': !propertyForm.controls['PropertyUrl'].valid}">
                <label class="control-label">Property URL</label>
                <input type="text" class="form-control" formControlName="PropertyUrl">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group label-floating"
                 [ngClass]="{'form-error': !propertyForm.controls['PropertyAssetsUrl'].valid}">
                <label class="control-label">Property Assets URL</label>
                <input type="text" class="form-control" formControlName="PropertyAssetsUrl">
            </div>
        </div>
    </div>
</div>
