
<div class="wrapper">
    <div class="sidebar" data-active-color="white" data-background-color="#0b5a7c">
    <!-- <div class="sidebar" data-color="red" data-image=""> -->
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background primary-color"></div>
        <div class="navbar navbar-transparent">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">chevron_left</i>
                    <i class="material-icons visible-on-sidebar-mini">chevron_right</i>
                </button>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <!--
        <div *ngIf="!isMap()">
            <footer-cmp></footer-cmp>
        </div>
        -->
    </div>
</div>
