<div [formGroup]="proposalManagerForm">
    <div class="enquiry-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="proposal-line">Booking details</div>
            </div>
        </div>
        <div *ngIf="data.Enquiry.Proposal && data.Enquiry.Proposal.SubmittedAt && !data.Enquiry.CancelledAt && !data.Enquiry.DeclinedAt">
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group p-l-5">
                        <span class="input-group-addon"><i class="material-icons">person</i></span>
                        <input-field-cmp [data]="{title: 'Customer Name', type: 'text'}"
                                         [field]="proposalManagerForm.controls.CustomerName"></input-field-cmp>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group p-r-30">
                        <span class="input-group-addon"><i class="material-icons">location_city</i></span>
                        <input-field-cmp [data]="{title: 'Property', type: 'text'}"
                                         [field]="proposalManagerForm.controls.PropertyName"></input-field-cmp>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group p-l-5">
                        <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
                        <input-field-cmp [data]="{title: 'Check In', type: 'text'}"
                                         [field]="proposalManagerForm.controls.CheckIn"></input-field-cmp>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group p-r-30">
                        <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
                        <input-field-cmp [data]="{title: 'CheckOut', type: 'text'}"
                                         [field]="proposalManagerForm.controls.CheckOut"></input-field-cmp>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group p-l-5 p-r-15">
                        <span class="input-group-addon"><i class="material-icons">euro_symbol</i></span>
                        <input-field-cmp [data]="{title: 'Rental Price', type: 'text'}"
                                         [field]="proposalManagerForm.controls.RentalCost"></input-field-cmp>
                    </div>
                </div>
            </div>
            <!--agent contracts-->
            <div class="row hidden">
                <div class="col-xs-6 col-md-12 col-lg-6">
                    <div class="input-group p-l-5">
                        <span class="input-group-addon"><i class="material-icons">description</i></span>
                        <div class="form-group label-floating">
                            <label class="control-label">Terms & Conditions Contract</label>
                            <span class="form-control-static"><a href="#">{{proposalManagerForm.controls.DefaultTerms.value.Name}}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-12 col-lg-6">
                    <div class="input-group p-r-30">
                        <span class="input-group-addon"><i class="material-icons">description</i></span>
                        <div class="form-group label-floating">
                            <label class="control-label">Cancellation Policy Contract</label>
                            <span class="form-control-static"><a href="#">{{proposalManagerForm.controls.CancellationPolicy.value.Name}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="loginService.getRoles('Agent') && status == 'Awaiting Signed Contract'">
                <div class="col-xs-6 p-l-r-30"><p style="line-height: 64px;margin: 0">The contract requires your signature</p></div>
                <div class="col-xs-6"><button class="btn btn-success" (click)="signContract()">Sign Contract</button></div>
            </div>
            <div class="row" *ngIf="!loginService.getRoles('Agent')">
                <div class="col-xs-12 p-l-r-30">
                    <div class="divider"></div>
                    <div class="terms p-l-r-10">
                        <h5>Terms</h5>
                        <ol class="m-b-none">
                            <li *ngFor="let term of proposalManagerForm.controls.TermsList.value">{{term}}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 p-l-r-30">
                    <div class="divider"></div>
                    <div class="terms p-l-r-10">
                        <h5>Payment Terms</h5>
                        <ul>
                            <li><strong>{{proposalManagerForm.controls['DepositPercentage'].value}}%</strong> payable upfront</li>
                            <li>
                                <strong>{{proposalManagerForm.controls['BalancePercentage'].value}}%</strong> payable
                                <strong>{{proposalManagerForm.controls['BalanceDaysBeforeCheckIn'].value}}</strong> weeks before check in
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
