<metafilter-heading-cmp [name]="metadata.Name" [group]="propertyForm"></metafilter-heading-cmp>

<div [formGroup]="propertyForm">
    <div formGroupName="MetaDataTmp">
        <div *ngFor="let subtype of metadata.MetaDataSubTypes">
            <select-tags-field-cmp [data]="propertyForm.controls.MetaDataTmp.controls['type_' + subtype.Id].value"
                                   [subtype]="subtype"
                                   [group]="propertyForm.controls.MetaDataTmp"></select-tags-field-cmp>
        </div>
    </div>
</div>
