.loading-gif {
	position: fixed;
	top: 75px;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 10000px;
}

.loading-gif img {
	position: fixed;
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
}
h5 {
	font-size: 18px;
	color: #3a3a3a;
}
/*
.bootstrap-datetimepicker-widget {
	left: -33px !important;
}
*/
body.sidebar-mini .sidebar .nav mainfilter-cmp {
	display: none;
}

.primary-color {
	background-color: #0b5a7c !important;
	color: white !important;
}

.secondary-color {
	background-color: #5399bc !important;
	color: white !important;
}
.col-width-20 {
	width: 20%;
}
/*
.nav-pills.nav-pills-grey > li.active > a, .nav-pills.nav-pills-grey > li.active > a:focus, .nav-pills.nav-pills-grey > li.active > a:hover {
  	background-color: #00bcd4;
  	box-shadow: 0 3px 10px 0px rgba(100, 100, 100, 1), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
*/
.shadow-grey {
	box-shadow: none !important;
}

.shadow-grey:hover {
  	box-shadow: 0 3px 10px 0px rgba(100, 100, 100, 1), 0 7px 10px -5px rgba(0, 188, 212, 0.4) !important;	
}

.hover-primary-color:hover {	
	background-color: #0b5a7c !important;
	color: white !important;
}

.main-panel .main-content {
	padding: 10px 15px 30px;
}
.card {
	box-shadow: 0px 5px 10px 0 rgba(170, 168, 168, 0.4);
}
.card [data-background-color="blue"] {
	background: #5399bc;
	box-shadow: 0px 2px 4px 0 rgba(75, 75, 75, 0.4);
	border-radius: 5px;
}
.card-title {
	font-size: 16px;
	text-transform: uppercase;
}

.card .card-header {
	margin: -20px 25px 0;
}

.pagination .paginate_button a {
	color: #262626;
}

/**
 *  Text color
*/
.text-primary {
	color: #0b5a7c;
}
.text-danger {
	color: #b71c1c;
}


/**
 *  Data Table Style
 */
.dataTables_filter .form-group.form-group-sm {
	margin-top: 0px;
	padding-bottom: 3px;
}
.dataTables_filter .form-group.form-group-sm .form-control {
	height: 36px;
	padding: 7px 0;
	font-size: 14px;
	line-height: 1.42857;
}
.pagination .paginate_button.active a {
	color: #ffffff;
	background-color: #5399bc;
	box-shadow: 0px 4px 12px 0 rgba(21, 101, 192, 0.4);
}

.pagination .paginate_button.disabled a {
	color: #c6c6c6;
}

/**
 *  Margin and padding
 */
.m-l-r-none {
	margin-left: 0px;
	margin-right: 0px;
}
.m-t-none {
	margin-top: 0px;
}
.m-b-none {
	margin-bottom: 0px;
}
.m-t-5 {
	margin-top: 5px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px !important;
}
.m-b-15 {
	margin-bottom: 15px !important;
}
.m-r-20 {
	margin-right: 20px;
}
.m-l-r-20-negative {
	margin-left: -20px;
	margin-right: -20px;
}
.p-l-r-none {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.p-t-none {
	padding-top: 0px !important;
}
.p-b-none {
	padding-bottom: 0px !important;
}
.p-l-r-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.p-l-r-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}



/**
 *  Tabs style
 */
.tab-content >div {
	display: none;
}

.tab-content >div.active {
	display: inherit;
}
.nav-pills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.nav-pills:before, .nav-pills:after {
	display: none;
}
.main-nav-pills > .nav-pill.form-error a {
	color: #b71c1c !important;
}
.nav-pills.sub-pills .nav-pill.form-error.active a {
	background-color: #b71c1c !important;
	color: #fff;
}

.nav-pill.form-error a {
	color: #b71c1c;
}


/**
 *  Font
 */
.font-16 {
	font-size: 16px;
}

/**
 *  Form style
*/
.form-control, .form-group .form-control {
	padding: 7px 5px;
	background-image: linear-gradient(#5399bc, #5399bc), linear-gradient(#5399bc, #5399bc);
	background-position: center bottom, center calc(100% - 0px);
}
.form-group textarea.form-control {
	min-height: 49px;
	max-height: 133px;
}
.form-control-static {
	padding-left: 5px;
	padding-right: 5px;
}
.control-label {
	color: #b0bec5 !important;
}
.form-group.is-focused .form-control {
	background-image: linear-gradient(#5399bc, #5399bc), linear-gradient(#5399bc, #5399bc);
}
.btn-group.bootstrap-select.show-tick.open .select-with-transition {
	background-image: linear-gradient(#5399bc, #5399bc), linear-gradient(#5399bc, #5399bc) !important;
}
.radio label, .checkbox label {
	font-size: 14px;
	color: #3a3a3a;
}
.radio label span {
	left:0px;
}
.radio input[type=radio] ~ .circle, .checkbox .checkbox-material .check {
	border-color: #0b5a7c !important;
}
.radio input[type=radio]:checked ~ .check, .checkbox input[type=checkbox]:checked + .checkbox-material .check {
	background-color: #0b5a7c;
}
.checkbox+.checkbox, .radio+.radio {
	margin-top: 10px;
}
.togglebutton {
	display: inline-block;
	line-height: 46px;
	margin: 10px 40px;
}

.togglebutton label {
	color: #262626;
	text-transform: uppercase;
	font-size: 14px;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
	background-color: #0b5a7c;
}
.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
	width: 41px;
	height: 18px;
	background-color: rgba(80, 80, 80, 0.7);
}
.togglebutton label input[type=checkbox][disabled] + .toggle {
	background-color: rgba(80, 80, 80, 0.7);
}
.togglebutton label .toggle:after {
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background-color: #ffffff;
	border: 0;
	top: -6px;
	left: -1px;
}
.select-component .bootstrap-select {
	margin-top: 0px;
}
.select-component .bootstrap-select .btn.dropdown-toggle {
	height: 36px;
	padding: 7px 0;
	padding-left: 5px !important;
	color: #3a3a3a !important;
	font-size: 14px;
}
.select-component .bootstrap-select .btn.dropdown-toggle span {
	color: #3a3a3a !important;
	font-size: 14px;
}
.select-component .select-with-transition .caret, .select-component .select-with-transition .ripple-container {
	display: inline-block;
}
.select-with-transition {
	background-image: linear-gradient(#5399bc, #5399bc), linear-gradient(#5399bc, #5399bc) !important;
}
.always-visible .ps-container > .ps-scrollbar-x-rail,
.always-visible .ps-container > .ps-scrollbar-y-rail {
	opacity: 0.6;
}
.bootstrap-tagsinput {
	padding: 12px 6px 5px;
}
.bootstrap-tagsinput input{
	display: none;
}
.label.label-info, .label.label-info:hover {
	background-color: #0b5a7c;
	line-height: 26px;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	border-radius: 13px;
	padding: 0 30px 0 15px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
	opacity: 1;
	padding-right: 10px !important;
	top:0px;
}
.upload-image {
	text-align: center;
	cursor: pointer;
}
.upload-image .material-icons {
	font-size: 150px;
}
.upload-image .title {
	color: #3a3a3a;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
}
.upload-image .btn {
	width: 200px;
	height: 48px;
	line-height: 24px;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
}
.metafilter-select span.material-icons.check-mark {
	display: none !important;
}

.form-group.form-error .form-control,
.form-group.form-error.is-focused .form-control,
.form-group.has-error .form-control,
.form-group.has-error.is-focused .form-control,
.input-group.form-error .form-group .form-control,
.input-group.form-error .form-group.is-focused .form-control{
	background-image: linear-gradient(#b71c1c, #b71c1c), linear-gradient(#5399bc, #5399bc);
	background-size: 100% 2px, 100% 1px;
	transition-duration: 0.3s;
}

/**
 * Custom button
 */
.btn.btn-success {
	min-width: 120px;
	padding: 12px 15px;
	background-color: #5399bc;
	box-shadow: 0px 7px 12px 0 rgba(83, 153, 188, 0.4);
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:focus:active, .btn.btn-success:active:hover {
	background-color: #0b5a7c;
	box-shadow: 0px 7px 12px 0 rgba(83, 153, 188, 0.4);
}
.btn.btn-success.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-success.btn-simple {
	color: #5399bc;
}
.btn.btn-success.btn-simple:hover,
.btn.btn-success.btn-simple:focus,
.btn.btn-success.btn-simple:active, 
.navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover,
.navbar .navbar-nav > li > a.btn.btn-success.btn-simple:focus,
.navbar .navbar-nav > li > a.btn.btn-success.btn-simple:active {
	color: #5399bc;
	box-shadow: none;
	background-color: transparent;
}
.btn.btn-danger {
	min-width: 120px;
	padding: 12px 15px;
	background-color: #b71c1c;
	box-shadow: 0px 7px 12px 0 rgba(183, 28, 28, 0.4);
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger:focus, .btn.btn-danger:focus:active, .btn.btn-danger:active:hover {
	box-shadow: 0px 7px 12px 0 rgba(183, 28, 28, 0.4);
}
.btn-back {
	font-size: 14px;
	line-height: 22px;
}


/**
 *  Dropdown menu
 */
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:focus,
.navbar .dropdown-menu li a:active,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
	background-color: #0b5a7c;
	box-shadow: 0px 7px 12px 0 rgba(83, 153, 188, 0.4) !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	color: #b0bec5 !important;
	text-transform: none;
}

/**
 *  Calendar
 */
.fc-toolbar h2 {
	font-size: 24px;
	font-weight: 100;
	color: #0b5a7c;
}
.card-calendar .fc .fc-body td:first-child {
	border-left: 1px solid #ddd;
}
.card-calendar .fc .fc-body td:last-child {
	border-right: 1px solid #ddd;
}
.card-calendar .fc {
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.card-calendar .fc span.fc-day-number {
	color: #000;
	font-size: 14px;
	font-weight: 100;
}
.card-calendar .fc .fc-other-month span.fc-day-number {
	color: #b3b3b3;
}

/**
 * DateTimePicker
 */
.bootstrap-datetimepicker-widget {
	box-shadow: 0 0 10px 0 rgba(170, 168, 168, 0.4);
	border-radius: 0px;
}
.bootstrap-datetimepicker-widget table td.active > div, .bootstrap-datetimepicker-widget table td.active:hover > div {
	background-color: #5399bc;
	box-shadow: none;
}

/**
 * DataTables style
 */
.dataTables_filter {
	display: none;
}