<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class="col-xs-12" novalidate>
                <div class="card">
                    <div class="property-tabs card-content p-b-15">
                        <ul class="nav nav-pills main-nav-pills">
                            <li class="nav-pill"
                                [ngClass]="{'form-error': (!propertyForm.controls['Bathrooms'].valid ||
                                !propertyForm.controls['Name'].valid ||
                                !propertyForm.controls['Bedrooms'].valid ||
                                !propertyForm.controls['Sleeps'].valid) && errorForm}">
                                <a href="#metatab-info" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">store</i>
                                    Property Info
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-images" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">camera_alt</i>
                                    Images
                                </a>
                            </li>
                            <li class="nav-pill" [ngClass]="{'form-error': !propertyForm.controls['MinimumStay'].valid && errorForm}">
                                <a href="#metatab-availability" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">check_circle</i>
                                    Availability
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-marketing" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">assessment</i>
                                    Marketing
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-property-4" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">golf_course</i>
                                    Points of Interests
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-property-3" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">pin_drop</i>
                                    Local Activities
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-property-6" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">stars</i>
                                    Features
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-property-2" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">hotel</i>
                                    Services
                                </a>
                            </li>
                            <li class="nav-pill">
                                <a href="#metatab-property-1" role="tab" data-toggle="tab" class="">
                                    <i class="material-icons">flight_takeoff</i>
                                    Trip
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content m-l-r-20-negative m-t-25">
                            <!--  Property Info  -->
                            <div id="metatab-info" class="card-content p-b-none p-l-r-none p-t-none">
                                <propertyinfo-cmp *ngIf="!propertiesService.isReading"
                                                  [group]="propertyForm"
                                                  [errorForm]="errorForm"></propertyinfo-cmp>
                            </div>
                            <!--  Property Image  -->
                            <div id="metatab-images" class="card-content p-b-none p-l-r-none p-t-none">
                                <propertyimage-cmp *ngIf="!propertiesService.isReading"
                                                   [group]="propertyForm"></propertyimage-cmp>
                            </div>
                            <!--  Property Availability -->
                            <div id="metatab-availability" class="card-content p-b-none p-t-none">
                                <calendar-cmp *ngIf="!propertiesService.isReading"
                                              [group]="propertyForm"
                                              [errorForm]="errorForm"></calendar-cmp>
                            </div>
                            <!--  Property Marketing  -->
                            <div id="metatab-marketing" class="card-content p-b-none p-l-r-none p-t-none">
                                <propertymarketing-cmp [group]="propertyForm"></propertymarketing-cmp>
                            </div>

                            <div id="metatab-property-4" class="card-content p-b-none p-t-none">
                                <property-metafilter-cmp *ngIf="!propertiesService.isReading"
                                                         [group]="propertyForm"
                                                         [metadata]="propertiesService.metadata[3]"></property-metafilter-cmp>
                            </div>

                            <div id="metatab-property-3" class="card-content p-b-none p-t-none">
                                <property-metafilter-cmp *ngIf="!propertiesService.isReading"
                                                         [group]="propertyForm"
                                                         [metadata]="propertiesService.metadata[2]"></property-metafilter-cmp>
                            </div>

                            <div id="metatab-property-6" class="card-content p-b-none p-t-none">
                                <property-metafilter-cmp *ngIf="!propertiesService.isReading"
                                                         [group]="propertyForm"
                                                         [metadata]="propertiesService.metadata[5]"></property-metafilter-cmp>
                            </div>

                            <div id="metatab-property-2" class="card-content p-b-none p-t-none">
                                <property-metafilter-cmp *ngIf="!propertiesService.isReading"
                                                         [group]="propertyForm"
                                                         [metadata]="propertiesService.metadata[1]"></property-metafilter-cmp>
                            </div>

                            <div id="metatab-property-1" class="card-content p-b-none p-t-none">
                                <property-metafilter-cmp *ngIf="!propertiesService.isReading"
                                                         [group]="propertyForm"
                                                         [metadata]="propertiesService.metadata[0]"></property-metafilter-cmp>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-simple btn-back"
                                type="button"
                                [routerLink]="['/properties']">
                            <i class="material-icons">arrow_back</i> <span>Back to properties</span>
                        </button>
                    </div>
                    <div class="col-xs-8">
                        <button class="btn btn-success pull-right font-16 m-r-20 p-l-r-20" type="submit" [disabled]="sending">Save</button>
                        <div class="togglebutton pull-right">
                            <label>
                                <input type="checkbox" formControlName="Active" *ngIf="isLoad"> Active status
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loader" [hidden]="!propertiesService.isReading">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
