.card {
	margin-top: 0px;
}

.card-header {
	cursor: pointer;
}

.card.collapsed .card-header {
	padding: 10px 20px;
}

.card.collapsed .card-header .card-title {
	padding-top: 5px;
}

.metafilter-container-header.card > .card-header > .card-title:after {
	content: "";
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 15px solid;
	position: absolute;
	right: 20px;
	top: 17px;
}

.metafilter-container-header.card.collapsed > .card-header > .card-title:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid;
	position: absolute;
	right: 8px;
	top: 13px;
}

.meta-filter {
	margin-top: 7px;
}

.meta-filter .subtype-name {
	display: block;
}

.meta-filter .subtype-filter label {
	margin: 0 5px 0 5px;
}

.meta-filter .card-header.card-header-text {
	height: 35px;
    padding: 5px 10px;
}

.meta-filter .card-content {
	padding: 5px 10px;
}

.meta-filter .card-content button {
	margin: 2px 2px;
    padding: 2px 15px;
}

.metafilter-container-header .card-header {
	margin-top: 10px;
}