.navbar-header .navbar-brand {
    font-weight: 500;
    font-size: 16px;
}
.card-login .card-title {
    font-size: 18px;
    font-weight: 500;
}
.input-group .input-group-addon {
    padding-top: 15px;
}
.input-group .material-icons {
    color: #5399bc;
    font-size: 18px;
}