<div class="main-content">
    <div class="container-fluid">
        <div class="toolbar">
            <!-- Here you can write extra buttons/actions for the toolbar              -->
            <button class="btn btn-simple btn-success btn-icon pull-right secondary-color shadow-grey"
                    [routerLink]="['addproperty']"><i class="material-icons">add</i> Add Property
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">All Properties</h4>
                        <div class="material-datatables">
                            <table id="datatables"
                                   class="table table-striped table-no-bordered table-hover table-properties"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="disabled-sorting text-right"></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th class="disabled-sorting text-right"></th>
                                </tr>
                                </tfoot>
                                <tbody id="bookingTableBody" *ngIf="!mainService.isReading">
                                <tr *ngFor="let item of mainService.properties; let i = index; let last = last ">
                                    <td class="thumb">
                                        <img class="img"
                                             src="{{ item.ImageId ? 'http://res.cloudinary.com/privadia/image/upload/c_fill,h_280,w_430/c_fill,q_80/' + item.ImageId + '.jpg' : '../assets/img/image_placeholder.jpg' }}">
                                        <!--
                                          <cl-image public-id="{{item.ImageId}}" cloud-name="privadia" crop="fill" quality="80" height="280" width="430" format="jpg" ></cl-image>
                                        -->
                                    </td>
                                    <td>
                                        <div class="property-name">{{item.Name}}</div>
                                        <div class="property-id">ID {{item.Id}}</div>
                                        <div class="property-status" *ngIf="!item.Active">Inactive</div>
                                        <div class="property-status active" *ngIf="item.Active">Active</div>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-simple btn-set-rates btn-icon">
                                            <i class="material-icons">attach_money</i>Set Rates
                                        </button>
                                        <button class="btn btn-simple btn-edit btn-icon"
                                                [routerLink]="['/properties/editproperty', item.Id]">
                                            <i class="material-icons">edit</i>Edit
                                        </button>
                                        <button class="btn btn-simple btn-delete btn-icon"
                                                type="button"
                                                (click)="removeProperty({index: i, propertyId: item.Id})">
                                            <i class="material-icons">delete</i>Remove
                                        </button>
                                    </td>
                                    {{ !mainService.isReading && last && !datatableInited ? finishReading() : "" }}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
        <div class="toolbar">
            <!-- Here you can write extra buttons/actions for the toolbar              -->
            <button class="btn btn-simple btn-success btn-icon pull-right secondary-color shadow-grey"
                    [routerLink]="addPropertyLink"><i class="material-icons">add</i> Add Property
            </button>
        </div>
    </div>
</div>

<div class="loading-gif" [hidden]="!mainService.isReading">
    <img src="../assets/img/loading.gif"/>
</div>