.table-properties {
    color: #3a3a3a;
}

.table-properties tr.odd, .table-properties tr:hover {
    background-color: #ffffff;
}

.table-properties td {
    border-top: 1px solid #c6c6c6;
}

.table-properties .thumb {
    width: 84px;
    min-width: 84px;
    height: auto;
    padding: 4px 4px 4px 0 !important;
}

.table-properties .property-name {
    font-size: 16px;
    padding: 8px;
    font-weight: 300;
}

.table-properties .property-id {
    font-size: 12px;
    padding: 7px;
    display: inline-block;
    width: 100px;
}

.table-properties .property-status {
    font-size: 12px;
    width: 70px;
    height: 18px;
    border-radius: 9px;
    background-color: #c6c6c6;
    text-align: center;
    color: #fff;
    padding-top: 2px;
    display: inline-block;
}

.table-properties .property-status.active {
    background-color: #5399bc;
}

.table-properties .text-right {
    min-width: 240px;
    padding: 0 !important;
}

.table-properties .text-right button {
    min-width: 80px;
    padding: 14px 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    text-transform: none;
    border-radius: 0;
}

.table-properties .text-right button:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.table-properties .text-right .btn-set-rates {
    color: #0b5a7c;
}

.table-properties .text-right .btn-edit {
    color: #5399bc;
}

.table-properties .text-right .btn-delete {
    color: #b71c1c;
}

.table-properties .text-right i {
    font-size: 24px;
    padding: 4px 0;
    display: block;
}