<div class="main-content">
    <div class="container-fluid">
        <div class="toolbar row" *ngIf="loginService.getPermission('Properties/Post')">
            <div class="col-xs-12">
                <button class="btn btn-simple btn-success btn-icon pull-right secondary-color shadow-grey"
                        [routerLink]="['add']"><i class="material-icons">add</i> Add Property
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="card-header card-header-icon" data-background-color="blue">
                                <i class="material-icons">store</i>
                            </div>
                            <h4 class="card-title m-t-15" *ngIf="!search.value">All Properties</h4>
                            <h4 class="card-title m-t-15" *ngIf="search.value">Properties Search Results for '{{search.value}}'</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group label-floating m-r-25">
                                <label class="control-label">Search</label>
                                <input id="datatableSearch" type="text" class="form-control" #search>
                            </div>
                        </div>
                    </div>
                    <div class="card-content p-l-r-none p-t-none">
                        <div class="material-datatables">
                            <div class="row">
                            </div>
                            <table id="datatables" class="table table-properties">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="disabled-sorting text-right"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="disabled-sorting text-right"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody id="bookingTableBody" *ngIf="!propertiesService.isReading">
                                    <tr *ngFor="let item of propertiesService.properties; let i = index; let last = last ">
                                        <td></td>
                                        <td class="thumb">
                                            <cl-image *ngIf="item.ImageId"
                                                      data-u="image"
                                                      public-id="{{item.ImageId}}"
                                                      cloud-name="privadia"
                                                      class="md-card-image"
                                                      crop="fill"
                                                      gravity="auto"
                                                      quality="80"
                                                      height="55"
                                                      width="84"
                                                      format="jpg">
                                            </cl-image>
                                            <img *ngIf="!item.ImageId" class="img" src="../assets/img/image_placeholder.jpg">
                                        </td>
                                        <td>
                                            <div class="property-name">{{item.Name}}</div>
                                            <div class="property-id">ID {{item.Id}}</div>
                                            <div class="property-status" *ngIf="!item.Active">Inactive</div>
                                            <div class="property-status active" *ngIf="item.Active">Active</div>
                                        </td>
                                        <td class="text-right">
                                            <button *ngIf="loginService.getPermission('Properties/Post')"
                                                    class="btn btn-simple btn-set-rates btn-icon"
                                                    [routerLink]="['/properties/setrates', item.Id]">
                                                <i class="material-icons">attach_money</i>Set Rates
                                            </button>
                                            <button *ngIf="loginService.getPermission('Properties/Put')"
                                                    class="btn btn-simple btn-edit btn-icon"
                                                    [routerLink]="['/properties/edit', item.Id]">
                                                <i class="material-icons">edit</i>Edit
                                            </button>
                                            <button *ngIf="loginService.getPermission('Properties/Delete')"
                                                    class="btn btn-simple btn-delete btn-icon"
                                                    type="button"
                                                    (click)="removeProperty({index: i, propertyId: item.Id})">
                                                <i class="material-icons">delete</i>Remove
                                            </button>
                                            <button *ngIf="!loginService.getPermission('Properties/Put')"
                                                    class="btn btn-simple btn-edit btn-icon"
                                                    [routerLink]="['/properties/view', item.Id]">
                                                <i class="material-icons">remove_red_eye</i>View
                                            </button>
                                        </td>
                                        <td></td>
                                        {{ !propertiesService.isReading && last && !datatableInited ? finishReading() : "" }}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
        <div class="toolbar row" *ngIf="loginService.getPermission('Properties/Post')">
            <div class="col-xs-12">
                <button class="btn btn-simple btn-success btn-icon pull-right secondary-color shadow-grey"
                        [routerLink]="['add']"><i class="material-icons">add</i> Add Property
                </button>
            </div>
        </div>
    </div>
</div>

<div class="loader" [hidden]="!propertiesService.isReading">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
