<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-tabs" data-background-color="darkblue">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="myTabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="">
                                <a href="#notifications" data-toggle="tab">
                                    <i class="material-icons">notifications</i> Notifications
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#enquiries" data-toggle="tab">
                                    <i class="material-icons">info</i> Enquiries (1)
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="#bookings" data-toggle="tab">
                                    <i class="material-icons">confirmation_number</i> Bookings
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-content p-l-r-none p-t-none">
                <!--template begin-->
                <div class="enquiry-detail">
                    <div class="row">
                        <div class="col-md-6">
                            <dialog-cmp *ngIf="enquiryService.enquiry"
                                        [data]="enquiryService.enquiry.Messages" [enquiryId]="enquiryId"></dialog-cmp>
                        </div>
                        <div class="col-md-6">
                            <property-info-cmp *ngIf="enquiryService.enquiry"
                                               [data]="enquiryService.enquiry.Enquiry"></property-info-cmp>
                            <proposal-cmp *ngIf="enquiryService.enquiry"
                                          [data]="enquiryService.enquiry"></proposal-cmp>
                        </div>
                    </div>
                </div>
                <!--template end-->
            </div>
        </div>
    </div>
</div>