.enquiry-detail {
    position: relative;
    top: -54px;
}

@media (max-width: 991px) {
    .messages-container {
        padding: 52px 24px;
    }

    .enquiry-header .image-wrp {
        border-top-right-radius: 0px;
    }

    .enquiry-header .image-wrp .image-villa:after {
        border-top-right-radius: 0px;
    }
}