<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content p-l-r-none p-t-none">
                <div class="row">
                    <div class="col-md-6">
                        <div class="messages-container">
                            <div class="messages-wrp">
                                <div class="messages">
                                    <div class="date-line">
                                        28 Jun 2017
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message to">
                                        <div class="message-text">
                                            Hi! Thanks for your message, everything is fine. I’m going to approve your
                                            enquiry and will be waiting for payment. Thank you!
                                        </div>
                                        <div class="message-date pull-left">Read at 1:42 pm</div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message info">
                                        <div class="message-text">
                                            <i class="material-icons">info_outline</i> Proposal has been updated
                                        </div>
                                    </div>
                                    <div class="date-line">
                                        28 Jun 2017
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message to">
                                        <div class="message-text">
                                            Hi! Thanks for your message, everything is fine. I’m going to approve your
                                            enquiry and will be waiting for payment. Thank you!
                                        </div>
                                        <div class="message-date pull-left">Read at 1:42 pm</div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message info">
                                        <div class="message-text">
                                            <i class="material-icons">info_outline</i> Proposal has been updated
                                        </div>
                                    </div>
                                    <div class="date-line">
                                        28 Jun 2017
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message to">
                                        <div class="message-text">
                                            Hi! Thanks for your message, everything is fine. I’m going to approve your
                                            enquiry and will be waiting for payment. Thank you!
                                        </div>
                                        <div class="message-date pull-left">Read at 1:42 pm</div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message from">
                                        <div class="message-text">
                                            Hello! There is a request for Villa Name in Ibiza. They would like to book
                                            12/06/17 - 15/06/17. Please tell me if all conditions are suitable. Thank
                                            you.
                                        </div>
                                        <div class="message-date">1:38 pm</div>
                                    </div>
                                    <div class="message info">
                                        <div class="message-text">
                                            <i class="material-icons">info_outline</i> Proposal has been updated
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="message-send">
                                <div class="form-group label-floating">
                                    <label class="control-label">Type in your message</label>
                                    <input class="form-control">
                                </div>
                                <button class="btn btn-just-icon btn-simple btn-send" data-placement="bottom"
                                        rel="tooltip" title="Send" type="button">
                                    <i class="material-icons">send</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="enquiry-header">
                            <div class="image-wrp">
                                <div class="image-villa">
                                    <cl-image data-u="image"
                                              public-id="z7iro8k17pc69cguzetw"
                                              cloud-name="privadia"
                                              class="md-card-image"
                                              crop="fill"
                                              gravity="auto"
                                              quality="80"
                                              height="200"
                                              width="600"
                                              format="jpg">
                                    </cl-image>
                                </div>
                            </div>
                            <div class="villa-container left">
                                <div class="enquiry-status declined">Declined</div>
                                <h4 class="enquiry-title">Villa Name</h4>
                                <p class="location"><i class="material-icons">place</i> San Jose</p>
                            </div>
                            <div class="villa-container right">
                                <h4 class="enquiry-title">Rental Price</h4>
                                <p class="price"><i class="material-icons">euro_symbol</i> 1500</p>
                            </div>
                        </div>
                        <div class="enquiry-body">
                            <div class="row stats">
                                <div class="col-xs-4">
                                    <div class="i-group">
                                        <i class="material-icons">pool</i>
                                        <span>3</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="i-group">
                                        <i class="material-icons">hotel</i>
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="i-group">
                                        <i class="material-icons">group</i>
                                        <span>7</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">person</i></span>
                                        <div class="form-group">
                                            Mary Johnson
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">event</i></span>
                                        <div class="form-group">
                                            06/12/17 - 06/15/17
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="proposal-line">Proposal</div>
                                </div>
                            </div>
                            <!--no proposal block-->
                            <div class="row">
                                <div class="col-xs-12 no-proposal">
                                    <p>There’s no proposal created by manager of this property.</p>
                                    <p>Please wait for proposal</p>
                                </div>
                            </div>
                            <!--no proposal block end-->
                            <!--proposal block -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon static"><i
                                                class="material-icons">person</i></span>
                                        <div class="form-group label-floating">
                                            <div class="control-label">Customer Name</div>
                                            Mary Johnson
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon static"><i
                                                class="material-icons">location_city</i></span>
                                        <div class="form-group label-floating">
                                            <div class="control-label">Property</div>
                                            Villa Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Check In</label>
                                            <input class="form-control datepicker" type="text" value="06/27/2017">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">insert_invitation</i></span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Check Out</label>
                                            <input class="form-control datepicker" type="text" value="06/27/2017">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">euro_symbol</i></span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Rental Price</label>
                                            <input type="email" class="form-control" value="1500">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon static"><i class="material-icons">description</i></span>
                                        <div class="form-group label-floating">
                                            <div class="control-label">Terms & Conditions Contract</div>
                                            <a href="">Default Contract.pdf</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon static"><i class="material-icons">description</i></span>
                                        <div class="form-group label-floating">
                                            <div class="control-label">Cancellation Policy Contract</div>
                                            <a href="">Default Contract.pdf</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="terms">
                                <h5>Terms</h5>
                                <ol>
                                    <li>Term</li>
                                    <li>Term</li>
                                    <li>Term</li>
                                </ol>
                            </div>
                            <div class="divider"></div>
                            <div class="terms">
                                <h5>Payment Terms</h5>
                                <ul>
                                    <li><strong>40%</strong> payable upfront</li>
                                    <li><strong>40%</strong> payable <strong>2</strong> weeks before check in</li>
                                </ul>
                            </div>
                            <!--proposal block end -->
                        </div>
                        <div class="enquiry-footer">
                            <!--no proposal buttons-->
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-simple btn-back btn-danger">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <!--no proposal buttons end-->
                            <!--proposal buttons-->
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-simple btn-back btn-danger">
                                        Decline
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-success pull-right font-16 m-r-20 p-l-r-20">
                                        Accept
                                    </button>
                                </div>
                            </div>
                            <!--proposal buttons end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>