<ul class="nav nav-pills p-l-r-20 m-t-25">
    <li class="nav-pill active">
        <a href="#heading-name_address" role="tab" data-toggle="tab" class="">
            Name & Address
        </a>
    </li>
    <li class="nav-pill">
        <a href="#heading-description" role="tab" data-toggle="tab" class="">
            Description
        </a>
    </li>
    <li class="nav-pill">
        <a href="#heading-admin_info" role="tab" data-toggle="tab" class="">
            Admin Info
        </a>
    </li>
    <li class="nav-pill">
        <a href="#heading-size_rooms" role="tab" data-toggle="tab" class="">
            Size and Rooms
        </a>
    </li>
    <li class="nav-pill">
        <a href="#heading-conditions" role="tab" data-toggle="tab" class="">
            Conditions
        </a>
    </li>
</ul>
<div class="tab-content">
    <!--  Property Info  -->
    <div id="heading-name_address" class="tab-pane fade active in card-content p-b-none">
        <div [formGroup]="propertyForm">
            <div class="row">
                <div class="col-xs-12">
                    <div ng2-auto-complete id="ownerName" [max-num-list]="10" [source]="ownerNames" class="form-group label-floating">
                        <label class="control-label">Select Owner</label>
                        <input class="form-control" id="owner-name" formControlName="OwnerName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Listing Name</label>
                        <input type="text" class="form-control" formControlName="InternalName">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group label-floating" [ngClass]="{'has-error': !propertyForm.controls['Name'].valid && errorForm}">
                        <label class="control-label">Official Name *</label>
                        <input type="text" class="form-control" formControlName="Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control" formControlName="Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="regionName"
                         class="form-group label-floating"
                         [ngClass]="{'has-error':!propertyForm.controls['Region'].valid && errorForm}">
                        <label class="control-label">Select Region *</label>
                        <input class="form-control"
                               ng2-auto-complete
                               formControlName="Region"
                               [(ngModel)]="propertyForm.controls.Region.value"
                               [max-num-list]="10"
                               [source]="regionArray"
                               [list-formatter]="autocompleListFormatter"
                               (valueChanged)="regionChanged($event)"
                               value-property-name="Id"
                               display-property-name="Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-none">
            <div class="col-xs-offset-6 col-xs-6">
                <a href="#heading-description" role="tab" data-toggle="tab" class="btn btn-success pull-right" (click)="changeTab($event)">Next</a>
            </div>
        </div>
    </div>
    <!--  Property Image  -->
    <div id="heading-description" class="fade card-content p-b-none">
        <div [formGroup]="propertyForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Headline</label>
                        <input type="text" class="form-control" formControlName="Headline">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Summary</label>
                        <textarea class="form-control" formControlName="Summary"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" formControlName="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Other Important Information</label>
                        <textarea class="form-control" formControlName="OtherInfo"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Collaborator Initials</label>
                        <input type="text" class="form-control" formControlName="CollaboratorInitials">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Box Url</label>
                        <input type="text" class="form-control" formControlName="BoxUrl">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="mainService.metadata[4]">
                        <property-metafilter-cmp [group]="propertyForm" [metadata]="mainService.metadata[4]" #villadescription></property-metafilter-cmp>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-none">
            <div class="col-xs-6">
                <a href="#heading-name_address" role="tab" data-toggle="tab" class="btn btn-success">Back</a>
            </div>
            <div class="col-xs-6">
                <a href="#heading-admin_info" role="tab" data-toggle="tab" class="btn btn-success pull-right">Next</a>
            </div>
        </div>
    </div>
    <!--  Property Marketing  -->
    <div id="heading-admin_info" class="fade card-content p-b-none">
        <div [formGroup]="propertyForm" >
            <div formArrayName="Contacts" class="row">
                <div class="contact col-xs-12 col-sm-6 col-md-4" *ngFor="let control of propertyForm.controls.Contacts.controls; let i = index">
                    <div class="form-group label-floating">
                        <label class="control-label">Job Title</label>
                        <input type="text" class="form-control" [formControl]="control.controls.JobTitle">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" [formControl]="control.controls.FirstName">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" [formControl]="control.controls.LastName">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Email Address</label>
                        <input type="email" class="form-control" [formControl]="control.controls.EmailAddress">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Telephone</label>
                        <input type="number" min="0" class="form-control" [formControl]="control.controls.Telephone">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <button class="btn btn-danger btn-icon" (click)="removeContact()">
                                <i class="material-icons">delete</i> Remove Contact
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="propertyForm.controls.Contacts.controls.length == (i + 1)">
                            <button class="btn btn-success btn-icon pull-right" (click)="showAddContact()">
                                <i class="material-icons">add</i> Add Contact
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="propertyForm.controls.Contacts.controls.length == 0">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-icon" (click)="showAddContact()">
                        <i class="material-icons">add</i> Add Contact
                    </button>
                </div>
            </div>
        </div>
        <div class="row p-b-none">
            <div class="col-xs-6">
                <a href="#heading-description" role="tab" data-toggle="tab" class="btn btn-success">Back</a>
            </div>
            <div class="col-xs-6">
                <a href="#heading-size_rooms" role="tab" data-toggle="tab" class="btn btn-success pull-right">Next</a>
            </div>
        </div>
    </div>

    <div id="heading-size_rooms" class="fade card-content p-b-none">
        <div [formGroup]="propertyForm">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating"[ngClass]="{'has-error':!propertyForm.controls['Bathrooms'].valid && errorForm}">
                        <label class="control-label">Number of Bathrooms</label>
                        <input type="number" class="form-control" formControlName="Bathrooms">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating" [ngClass]="{'has-error':!propertyForm.controls['Bedrooms'].valid && errorForm}">
                        <label class="control-label">Number of bedrooms</label>
                        <input type="number" class="form-control" formControlName="Bedrooms">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating" [ngClass]="{'has-error':!propertyForm.controls['Sleeps'].valid && errorForm}">
                        <label class="control-label">Sleeps</label>
                        <input type="number" class="form-control" formControlName="Sleeps">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating" [ngClass]="{'has-error':!propertyForm.controls['Capacity'].valid && errorForm}">
                        <label class="control-label">Maximum Capacity</label>
                        <input type="number" class="form-control" formControlName="Capacity">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating" [ngClass]="{'has-error':!propertyForm.controls['LivingAreaSize'].valid && errorForm}">
                        <label class="control-label">Living Area (m<sup>2</sup>)</label>
                        <input type="number" class="form-control" formControlName="LivingAreaSize">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating" [ngClass]="{'has-error':!propertyForm.controls['DiningCapacity'].valid && errorForm}">
                        <label class="control-label">Dining Capacity</label>
                        <input type="number" class="form-control" formControlName="DiningCapacity">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Kitchen Information</label>
                        <textarea type="text" class="form-control" formControlName="KitchenInfo"></textarea>
                    </div>
                </div>
            </div>

            <div formArrayName="Rooms" class="m-t-25">
                <label>Bedroom Information</label>
                <div class="row" *ngFor="let control of propertyForm.controls.Rooms.controls; let i = index">
                    <div *ngIf="control.controls.PropertyRoomType.value == 1">
                        <div class="">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Bedroom Name</label>
                                    <input type="text" class="form-control" [formControl]="control.controls.Name">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Bedroom Description</label>
                                    <input type="text" class="form-control" [formControl]="control.controls.Description">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <button class="btn btn-success btn-icon pull-right" (click)="addBedroom()" *ngIf="false">
                                    <i class="material-icons">add</i> Add BEDROOM
                                </button>
                                <button class="btn btn-danger btn-icon pull-right" (click)="removeBedroom()">
                                    <i class="material-icons">delete</i> REMOVE BEDROOM
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-success btn-icon" (click)="addBedroom()">
                            <i class="material-icons">add</i> Add BEDROOM
                        </button>
                    </div>
                </div>
            </div>

            <div formArrayName="Rooms" class="m-t-25">
                <label>Bathroom Information</label>
                <div class="row" *ngFor="let control of propertyForm.controls.Rooms.controls; let i = index">
                    <div *ngIf="control.controls.PropertyRoomType.value == 2">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Bathroom Name</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Name">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Bathroom Description</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Description">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <button class="btn btn-success btn-icon pull-right" (click)="addBathroom()" *ngIf="false">
                                <i class="material-icons">add</i> Add BATHROOM
                            </button>
                            <button class="btn btn-danger btn-icon pull-right" (click)="removeBathroom()">
                                <i class="material-icons">delete</i> REMOVE BATHROOM
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-success btn-icon" (click)="addBathroom()">
                            <i class="material-icons">add</i> Add Bathroom
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-b-none">
            <div class="col-xs-6">
                <a href="#heading-size_rooms" role="tab" data-toggle="tab" class="btn btn-success">Back</a>
            </div>
            <div class="col-xs-6">
                <a href="#heading-conditions" role="tab" data-toggle="tab" class="btn btn-success pull-right">Next</a>
            </div>
        </div>
    </div>

    <div id="heading-conditions" class="fade card-content p-b-none">
        <div [formGroup]="propertyForm">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="m-b-none">Children Allowed</h5>
                </div>
                <div class="radio col-xs-12">
                    <label>
                        <input type="radio" [value]="0" formControlName="ChildrenAllowed"> Children Welcome
                    </label>
                </div>
                <div class="radio col-xs-12">
                    <label>
                        <input type="radio" [value]="1" formControlName="ChildrenAllowed"> Ask Owner
                    </label>
                </div>
                <div class="radio col-xs-12">
                    <label>
                        <input type="radio" [value]="2" formControlName="ChildrenAllowed"> Not Suitable For Children
                    </label>
                </div>
            </div>
            <div class="row m-t-15">
                <div class="col-xs-12">
                    <h5 class="m-b-none">Children Allowed</h5>
                </div>
                <div class="checkbox col-xs-3">
                    <label>
                        <input type="checkbox" formControlName="SmokingAllowed"> Smoking Allowed
                    </label>
                </div>
                <div class="checkbox col-xs-3">
                    <label>
                        <input type="checkbox" formControlName="WheelchairAccessible"> Wheelchairs Allowed
                    </label>
                </div>
                <div class="checkbox col-xs-3">
                    <label>
                        <input type="checkbox" formControlName="PetsAllowed"> Pets Allowed
                    </label>
                </div>
                <div class="checkbox col-xs-3">
                    <label>
                        <input type="checkbox" formControlName="EventsAllowed"> Events Allowed
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a href="#heading-conditions" role="tab" data-toggle="tab" class="btn btn-success">Back</a>
            </div>
            <div class="col-xs-offset-6 col-xs-6">
                <a href="#metatab-images" role="tab" data-toggle="tab" class="btn btn-success pull-right">Finish</a>
            </div>
        </div>
    </div>
</div>




<!--
<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-name_address">
            <a role="button" data-toggle="collapse" attr.data-parent="#metadata-property-info" href="#name_address" aria-expanded="false" attr.aria-controls="name_address">
                <h4 class="panel-title">
                    Property Name & Address
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div id="name_address" class="panel-collapse collapse panel-content" role="tabpanel" attr.aria-labelledby="heading-name_address">
            <div class="panel-body" [formGroup]="propertyForm">
                <div>
                    <div ng2-auto-complete id="ownerName" [max-num-list]="10" [source]="ownerNames" class="form-group label-floating">
                        <label class="control-label">Select Owner</label>
                        <input class="form-control" id="owner-name" formControlName="OwnerName">
                    </div>
                </div>
                <div class="form-group label-floating col-lg-6 col-md-6 col-sm-12 listing-name">
                    <label class="control-label">Listing Name</label>
                    <input type="text" class="form-control" formControlName="InternalName">
                </div>
                <div class="form-group label-floating listing-name col-lg-6 col-md-6 col-sm-12 official-name">
                    <label class="control-label">Official Name *</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Address</label>
                    <input type="text" class="form-control" formControlName="Address">
                </div>
                <div>
                    <!--
                    <div ng2-auto-complete id="regionName" [max-num-list]="10" [source]="regions" (valueChanged)="regionChanged($event)" class="form-group label-floating">
                    --><!--
                    <div id="regionName"
                         class="form-group label-floating">
                        <label class="control-label">Select Region *</label>
                        <input class="form-control"
                               ng2-auto-complete
                               formControlName="Region"
                               [(ngModel)]="propertyForm.controls.Region.value"
                               [max-num-list]="10"
                               [source]="regionArray"
                               [list-formatter]="autocompleListFormatter"
                               (valueChanged)="regionChanged($event)"
                               value-property-name="Id"
                               display-property-name="Name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-description">
            <a role="button" data-toggle="collapse" attr.data-parent="#metadata-property-info" href="#description" aria-expanded="false" attr.aria-controls="description">
                <h4 class="panel-title">
                    Description
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div id="description" class="panel-collapse collapse panel-content" role="tabpanel" attr.aria-labelledby="heading-description">
            <div class="panel-body" [formGroup]="propertyForm">
                <div class="form-group label-floating">
                    <label class="control-label">Headline</label>
                    <input type="text" class="form-control" formControlName="Headline">
                </div>  
                <div class="form-group label-floating">
                    <label class="control-label">Summary</label>
                    <textarea class="form-control" formControlName="Summary"></textarea>
                </div>  
                <div class="form-group label-floating">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" formControlName="Description"></textarea>
                </div>  
                <div class="form-group label-floating">
                    <label class="control-label">Other Important Information</label>
                    <textarea class="form-control" formControlName="OtherInfo"></textarea>
                </div>                                      
                <div class="form-group label-floating col-lg-6 col-md-6 col-sm-12 collaborator-initial">
                    <label class="control-label">Collaborator Initials</label>
                    <input type="text" class="form-control" formControlName="CollaboratorInitials">
                </div>                                      
                <div class="form-group label-floating listing-name col-lg-6 col-md-6 col-sm-12 box-url">
                    <label class="control-label">Box Url</label>
                    <input type="text" class="form-control" formControlName="BoxUrl">
                </div>
                <div *ngIf="mainService.metadata[4]">
                    <property-metafilter-cmp [group]="propertyForm" [metadata]="mainService.metadata[4]" #villadescription></property-metafilter-cmp>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-admin_info">
            <a role="button" data-toggle="collapse" attr.data-parent="#metadata-property-info" href="#admin_info" aria-expanded="false" attr.aria-controls="admin_info">
                <h4 class="panel-title">
                    Admin Info
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div [formGroup]="propertyForm" id="admin_info" class="panel-collapse collapse panel-content" role="tabpanel" attr.aria-labelledby="heading-admin_info">
            <div class="panel-body" formArrayName="Contacts">
                <!--
                <div class="contact" *ngFor="let item of contacts">
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Job Title</label>
                        <input type="text" class="form-control" (blur)="adminInfoChanged(item.id, 'jobTitle', $event)">
                    </div>          
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" (blur)="adminInfoChanged(item.id, 'firstName', $event)" required>
                    </div>                                     
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" (blur)="adminInfoChanged(item.id, 'lastName', $event)">
                    </div>                                    
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Email Address</label>
                        <input type="email" class="form-control" (blur)="adminInfoChanged(item.id, 'email', $event)" required>
                    </div>
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Telephone</label>
                        <input type="number" min="0" class="form-control" (blur)="adminInfoChanged(item.id, 'telephone', $event)" required>
                    </div>
                    <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                        <a (click)="removeContact(item.id)"> Remove Contact </a>
                    </div>
                </div>
                --><!--
                <div class="contact" *ngFor="let control of propertyForm.controls.Contacts.controls; let i = index">
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Job Title</label>
                        <input type="text" class="form-control" [formControl]="control.controls.JobTitle">
                    </div>
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" [formControl]="control.controls.FirstName">
                    </div>
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" [formControl]="control.controls.LastName">
                    </div>
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Email Address</label>
                        <input type="email" class="form-control" [formControl]="control.controls.EmailAddress">
                    </div>
                    <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label">Telephone</label>
                        <input type="number" min="0" class="form-control" [formControl]="control.controls.Telephone">
                    </div>
                    <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                        <a (click)="removeContact(i)"> Remove Contact </a>
                    </div>
                </div>

                <div class="listing-name add-contact col-sm-12 col-md-12 col-lg-12">
                    <a (click)="showAddContact()"> Add Contact </a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-size_rooms">
            <a role="button" data-toggle="collapse" attr.data-parent="#metadata-property-info" href="#size_rooms" aria-expanded="false" attr.aria-controls="size_rooms">
                <h4 class="panel-title">
                    Property Size and Rooms
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div [formGroup]="propertyForm" id="size_rooms" class="panel-collapse collapse panel-content" role="tabpanel" attr.aria-labelledby="heading-size_rooms">
            <div class="panel-body">
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Number of Bathrooms</label>
                    <input type="number" class="form-control" formControlName="Bathrooms">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Number of bedrooms</label>
                    <input type="number" class="form-control" formControlName="Bedrooms">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Sleeps</label>
                    <input type="number" class="form-control" formControlName="Sleeps">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Maximum Capacity</label>
                    <input type="number" class="form-control" formControlName="Capacity">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Living Area (m
                    <sup>2</sup>
                    )</label>
                    <input type="number" class="form-control" formControlName="LivingAreaSize">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-4">
                    <label class="control-label">Dining Capacity</label>
                    <input type="number" class="form-control" formControlName="DiningCapacity">
                </div>
                <div class="form-group label-floating listing-name col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label">Kitchen Information</label>
                    <textarea type="text" class="form-control" formControlName="KitchenInfo"></textarea>
                </div>

                <div formArrayName="Rooms" class="col-sm-12 col-md-12 col-lg-12 listing-name bedrooms">
                    <label>Bedroom Information</label>
                    <div class="" *ngFor="let control of propertyForm.controls.Rooms.controls; let i = index">
                        <div *ngIf="control.controls.PropertyRoomType.value == 1">
                            <div class="form-group label-floating listing-name col-sm-12 col-md-3 col-lg-3">
                                <label class="control-label">Bedroom Name</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Name">
                            </div>
                            <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Bedroom Description</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Description">
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 listing-name remove-button">
                                <a (click)="removeBedroom(i)">REMOVE BEDROOM</a>
                            </div>
                        </div>
                    </div>
                    <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                        <a class="add-bedroom" (click)="addBedroom()">Add Bedroom</a>
                    </div>
                </div>

                <div formArrayName="Rooms" class="listing-name col-sm-12 col-md-12 col-lg-12 bathrooms">
                    <label>Bathroom Information</label>
                    <div class="" *ngFor="let control of propertyForm.controls.Rooms.controls; let i = index">
                        <div *ngIf="control.controls.PropertyRoomType.value == 2">
                            <div class="form-group label-floating listing-name col-sm-12 col-md-3 col-lg-3">
                                <label class="control-label">Bathroom Name</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Name">
                            </div>
                            <div class="form-group label-floating listing-name col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Bathroom Description</label>
                                <input type="text" class="form-control" [formControl]="control.controls.Description">
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 listing-name remove-button">
                                <a (click)="removeBathroom(i)">REMOVE BATHROOM</a>
                            </div>
                        </div>
                    </div>
                    <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                        <a class="add-bathroom" (click)="addBathroom()">Add Bathroom</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-conditions">
            <a role="button" data-toggle="collapse" attr.data-parent="#metadata-property-info" href="#conditions" aria-expanded="false" attr.aria-controls="conditions">
                <h4 class="panel-title">
                    Conditions
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div id="conditions" class="panel-collapse collapse panel-content" role="tabpanel" attr.aria-labelledby="heading-conditions">
            <div class="panel-body" [formGroup]="propertyForm">
                <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                    <h5 class="listing-name col-sm-12 col-md-12 col-lg-12">Children Allowed</h5>
                    <div id="childrenAllow" class="listing-name radio col-sm-12 col-md-4 col-lg-4">
                        <label>
                            <input type="radio" [value]="0" formControlName="ChildrenAllowed"> Children Welcome
                        </label>
                    </div>
                    <div class="listing-name radio col-sm-12 col-md-4 col-lg-4">
                        <label>
                            <input type="radio" [value]="1" formControlName="ChildrenAllowed"> Ask Owner
                        </label>
                    </div>
                    <div class="listing-name radio col-sm-12 col-md-4 col-lg-4">
                        <label>
                            <input type="radio" [value]="2" formControlName="ChildrenAllowed"> Not Suitable For Children
                        </label>
                    </div>
                </div>
                <div class="listing-name col-sm-12 col-md-12 col-lg-12">
                    <div class="listing-name checkbox col-sm-12 col-md-3 col-lg-3">
                        <label>
                            <input type="checkbox" formControlName="SmokingAllowed"> Smoking Allowed
                        </label>
                    </div>
                    <div class="listing-name checkbox col-sm-12 col-md-3 col-lg-3">
                        <label>
                            <input type="checkbox" formControlName="WheelchairAccessible"> Wheelchairs Allowed
                        </label>
                    </div>
                    <div class="listing-name checkbox col-sm-12 col-md-3 col-lg-3">
                        <label>
                            <input type="checkbox" formControlName="PetsAllowed"> Pets Allowed
                        </label>
                    </div>
                    <div class="listing-name checkbox col-sm-12 col-md-3 col-lg-3">
                        <label>
                            <input type="checkbox" formControlName="EventsAllowed"> Events Allowed
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->