<div class="modal fade" id="enquiry" tabindex="-1" role="dialog" aria-labelledby="enquiryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="enquiryForm" *ngIf="data" (submit)="onSubmit(enquiryForm.value)">
                <div class="modal-header">
                    <div class="image-villa">
                        <cl-image *ngIf="!data.ImageId"
                                  data-u="image"
                                  [public-id]="data.ImageId"
                                  cloud-name="privadia"
                                  class="md-card-image"
                                  crop="fill"
                                  gravity="auto"
                                  quality="80"
                                  height="200"
                                  width="600"
                                  format="jpg">
                        </cl-image>
                        <img *ngIf="data.ImageId" class="img" src="../assets/img/image_placeholder.jpg">
                    </div>
                    <div class="villa-container">
                        <h4 class="modal-title">{{data.Name}} <span class="location"><i class="material-icons">place</i> {{data.RegionName}}</span></h4>
                    </div>
                </div>
                <div class="modal-body m-t-none p-t-none">
                    <div class="icons-group">
                        <div class="feature">
                            <i class="material-icons">hot_tub</i><span class="">{{data.Bathrooms}}</span>
                        </div>
                        <div class="feature">
                            <i class="material-icons">hotel</i><span class="">{{data.Bedrooms}}</span>
                        </div>
                        <div class="feature">
                            <i class="material-icons">group</i><span class="">{{data.Sleeps}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="estimated-cost">
                                <span class="control-label">Estimated Booking Cost:</span>
                                <i class="material-icons">euro_symbol</i>
                                <span class="">1295</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center m-none">Create Enquiry</h5>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">person</i></span>
                                <input-field-cmp [data]="{title: 'First Name', name: 'ClientFirstName', type: 'text'}"
                                                 [errorForm]="errorForm"
                                                 [field]="enquiryForm.controls.ClientFirstName"></input-field-cmp>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input-field-cmp [data]="{title: 'Last Name', name: 'ClientLastName', type: 'text'}"
                                                 [errorForm]="errorForm"
                                                 [field]="enquiryForm.controls.ClientLastName"></input-field-cmp>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <datetimepicker-field-cmp [data]="{title: 'Check In'}"
                                                      [classes]="{withIcon: true}"
                                                      [field]="enquiryForm.controls.CheckIn"></datetimepicker-field-cmp>
                        </div>
                        <div class="col-xs-6">
                            <datetimepicker-field-cmp [data]="{title: 'Check Out'}"
                                                      [classes]="{withIcon: false}"
                                                      [field]="enquiryForm.controls.CheckOut"></datetimepicker-field-cmp>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">local_post_office</i></span>
                                <input-field-cmp [data]="{title: 'Your Message', name: 'Message', value: '', type: 'text'}"
                                                 [field]="enquiryForm.controls.Message"></input-field-cmp>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="submit" class="btn btn-success">Submit Booking Enquiry</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-simple" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
