<ul class="nav nav-tabs">
    <li routerLink="/booking/enquiry" routerLinkActive="active">
        <a >Enquiries</a>
    </li>
    <li routerLink="/booking/tentative" routerLinkActive="active">
        <a>Tentative</a>
    </li>
    <li routerLink="/booking/confirmed" routerLinkActive="active">
        <a>Confirmed</a>
    </li>
    <li>
        <a>Checked-In</a>
    </li>
    <li>
        <a>Past</a>
    </li>
    <!--
        <li class="">
            <a href="#forthcoming-details" data-toggle="tab">Forthcoming Details</a>
        </li>
    -->
</ul>