<div [formGroup]="propertyForm" *ngIf="name == 'Services'" class="">
    <div class="row">
        <div class="col-xs-12">
            <h5>Housekeeping</h5>
        </div>
        <div class="col-xs-12">
            <div id="childrenAllow" class="radio">
                <label>
                    <input type="radio" [value]="0" formControlName="Housekeeping"> Not Available
                </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="radio">
                <label>
                    <input type="radio" [value]="1" formControlName="Housekeeping"> Housekeeper Included
                </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="radio">
                <label>
                    <input type="radio" [value]="2" formControlName="Housekeeping"> Housekeeper Optional
                </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group label-floating">
                <label class="control-label">Other Housekeeping Information</label>
                <textarea class="form-control" formControlName="OtherHousekeepingInfo" (keyup)="autosize($event)" (click)="autosize($event)"></textarea>
            </div>
        </div>
    </div>
</div>

<div [formGroup]="propertyForm" *ngIf="name == 'Points of Interest'" class="points-of-interest">
    <table formArrayName="PointsOfInterest">
        <thead>
            <tr>
                <th class="col-lg-1 text-center"> Available </th>
                <th class="col-lg-3 text-center"> Points Of Interest Type </th>
                <th class="col-lg-6 text-left"> Name </th>
                <th class="col-lg-2 text-left"> Distance(km) </th>
            </tr>
        </thead>
        <tbody>
            <!--
            <tr *ngFor="let item of PoITypes; let index = index" class="">
            -->
            <tr *ngFor="let control of propertyForm.controls.PointsOfInterest.controls; let i = index" class="">
                <td class="text-center checkbox">
                    <label>
                        <input type="checkbox"
                               [formControl]="control.controls.Available"
                               [attr.type-id]="index"
                               class="checkbox"/>
                    </label>
                </td>
                <td class="form-group text-center"> {{control.controls.PointOfInterestTypeName.value}}</td>
                <td class="form-group text-left">
                    <input type="text"
                           [attr.type-id]="index"
                           class="name form-control"
                           [formControl]="control.controls.Name"/>
                </td>
                <td class="form-group text-left">
                    <input type="number"
                           min="0"
                           [attr.type-id]="index"
                           class="distance form-control"
                           [formControl]="control.controls.Distance"/>
                </td>
            </tr>
        </tbody>
    </table>
    <div >

    </div>
</div>
<div [formGroup]="propertyForm" *ngIf="name == 'Features'" class="features">
    <div class="checkbox">
        <label>
            <input type="checkbox" formControlName="LiftAvailable"> Lift Available
        </label>
    </div>
    <div class="form-group label-floating">
        <label class="control-label">Unique Benefits</label>
        <textarea class="form-control" formControlName="Benefits" (keyup)="autosize($event)" (click)="autosize($event)"></textarea>
    </div>
</div>
