
<div class="card card-product">
    <div class="card-image" data-header-animation="true">
        <a href="#pablo">
            <img class="img" src="{{ villa.ImageId ? 'http://res.cloudinary.com/privadia/image/upload/c_fill,h_280,w_430/c_fill,q_80/' + villa.ImageId + '.jpg' : '../assets/img/image_placeholder.jpg' }}">
        </a>
    </div>
    <div class="card-content">
        <div class="card-actions">
            <!--
            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
            </button>
            -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" > Select
                </label>
            </div>
            <button type="button" class="btn btn-white" title="Copy">
                <i class="material-icons">library_books</i>&nbsp;Copy
            </button>
            <button type="button" class="btn btn-white" title=".pdf">
                <i class="material-icons">description</i>&nbsp;.pdf
            </button>
        </div>
        <div class="row">
            <h4 class="card-title m-b-15 col-lg-12 col-md-12 col-sm-12">
                <a href="#pablo">{{villa.Name}}</a>
            </h4>
        </div>
        <div class="row">
            <div class="card-description m-b-15 col-xs-12">
                <span>{{villa.CollaboratorInitials}}</span>
            </div>
        </div>
        <div class="row">
            <div class="card-stats col-xs-12">
                <p class="category"><i class="material-icons">place</i> {{villa.RegionName}}</p>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="card-feature">
            <div class="feature">
                <i class="material-icons">pool</i>
                <span class="">{{villa.Bedrooms}}</span>
            </div>
            <div class="feature">
                <i class="material-icons">hotel</i>
                <span class="">{{villa.Sleeps}}</span>
            </div>
            <div class="feature">
                <i class="material-icons">group</i>
                <span class="">{{villa.Bathrooms}}</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-xs-6">
                <div class="rate">
                    <i class="material-icons">euro_symbol</i> {{roundRate(villa.TotalRate)}}/night
                </div>
            </div>
            <div class="col-xs-6" *ngIf="loginService.getPermission('Enquiries/Post')">
                <button type="button"
                        class="btn btn-success pull-right"
                        data-toggle="modal" data-target="#enquiry"
                        (click)="open(villa)">Submit enquiry</button>
            </div>
        </div>
    </div>
</div>