<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="!isAgent" class="toolbar row">
            <div class="col-xs-12 buttons-bar">
                <button
                        class="btn btn-simple btn-switch btn-icon"
                        [class.available]="!isCalendarView"
                        [disabled]="isCalendarView"
                        (click)="toggleCalendarView()">
                    <i class="material-icons">date_range</i>Calendar
                </button>
                <button
                        class="btn btn-simple btn-switch btn-icon"
                        [class.available]="isCalendarView"
                        [disabled]="!isCalendarView"
                        (click)="toggleCalendarView()">
                    <i class="material-icons">list</i>List
                </button>
                <button
                        class="btn btn-simple btn-success btn-icon secondary-color shadow-grey"
                        (click)="toggleUpdateBlock()">
                    <i class="material-icons">refresh</i> Update Availability
                </button>
            </div>
        </div>
        <div class="panels-wrp">
            <div class="left-panel">
                <div class="card">
                    <div class="col-xs-12">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">date_range</i>
                        </div>
                        <h4 class="card-title m-t-15">
                            Availability for "{{propertiesService.property && propertiesService.property.InternalName}}"
                        </h4>
                    </div>
                    <calendar-cmp *ngIf="isCalendarView && bookingDays"
                                  [bookingDays]="bookingDays"
                                  [calendarEntryTypes]="calendarEntryTypes"
                                  [group]="availabilityForm">
                    </calendar-cmp>
                    <calendar-list-cmp *ngIf="!isCalendarView"
                                       [group]="availabilityForm"
                                       [bookingDays]="bookingDays"
                                       (deleteAvailability)="handlerDeleteAvailability($event)"
                                       (editAvailability)="handlerEditAvailability($event)"
                                       [errorForm]="errorForm">
                    </calendar-list-cmp>
                </div>
            </div>
            <div class="right-panel" [class.in]="UpdateBlock === true" [class.out]="UpdateBlock === false">
                <div *ngIf="UpdateBlock" class="container-fluid" [formGroup]="availabilityForm">
                    <div class="card">
                        <div class="col-md-12">
                            <div class="card-header card-header-text" data-background-color="green">
                                <span class="font-16">Update Availability</span>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-xs-6" >
                                        <datetimepicker-field-cmp
                                                [data]="{title: 'Check In'}"
                                                [classes]="{withIcon: true, disablePickerSwitch: true}"
                                                [idPicker]="'checkIn'"
                                                [linkedField]="availabilityForm.controls.CheckOut"
                                                [disabledDates]="disabledDatesIn"
                                                (updateDate)="handlerUpdateDate($event, value)"
                                                [field]="availabilityForm.controls.CheckIn"></datetimepicker-field-cmp>
                                    </div>
                                    <div class="col-xs-6">
                                        <datetimepicker-field-cmp
                                                [data]="{title: 'Check Out'}"
                                                [classes]="{withIcon: false, disablePickerSwitch: true}"
                                                [idPicker]="'checkOut'"
                                                [linkedField]="availabilityForm.controls.CheckIn"
                                                [minDate]="minDate"
                                                [maxDate]="maxDate"
                                                [field]="availabilityForm.controls.CheckOut"></datetimepicker-field-cmp>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <singleselect-field-cmp
                                                [dataList]="calendarEntryTypes"
                                                [options]="{title: 'Type', default: 'Other'}"
                                                [errorForm]="errorForm"
                                                [field]="availabilityForm.controls.EntryType"></singleselect-field-cmp>
                                    </div>
                                </div>
                                <div *ngIf="availabilityForm.controls.EntryType.value.Id === 1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input-field-cmp
                                                    [data]="{title: 'Reference', name: 'Reference', type: 'text'}"
                                                    [errorForm]="errorForm"
                                                    [field]="availabilityForm.controls.Reference"></input-field-cmp>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="radio">
                                                <label>
                                                    <input
                                                            type="radio"
                                                            name="ViaAgency"
                                                            [formControl]="availabilityForm.controls.ViaAgency"
                                                            formControlName="ViaAgency"
                                                            [checked]="true"
                                                            [value]="false"> Direct to client
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="radio">
                                                <label>
                                                    <input
                                                            type="radio"
                                                            name="ViaAgency"
                                                            [formControl]="availabilityForm.controls.ViaAgency"
                                                            formControlName="ViaAgency"
                                                            [value]="true"> Via a 3rd party agency
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="divider-line">Client Info</div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'First Name', name: 'ClientFirstName', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.ClientFirstName"></input-field-cmp>
                                            </div>
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'Last Name', name: 'ClientLastName', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.ClientLastName"></input-field-cmp>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input-field-cmp [data]="{title: 'Email', name: 'ClientEmail', type: 'text'}"
                                                                 [errorForm]="errorForm"
                                                                 [field]="availabilityForm.controls.ClientEmail"></input-field-cmp>
                                            </div>
                                            <div class="col-xs-6">
                                                <input-field-cmp [data]="{title: 'Phone', name: 'ClientTel', type: 'text'}"
                                                                 [errorForm]="errorForm"
                                                                 [field]="availabilityForm.controls.ClientTel"></input-field-cmp>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="availabilityForm.controls.ViaAgency.value">
                                        <div class="divider-line">Agency Info</div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'Company Name', name: 'AgencyCompanyName', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.AgencyCompanyName"></input-field-cmp>
                                            </div>
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'Contact Name', name: 'AgentName', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.AgentName"></input-field-cmp>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'EMail', name: 'AgentEmail', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.AgentEmail"></input-field-cmp>
                                            </div>
                                            <div class="col-xs-6">
                                                <input-field-cmp
                                                        [data]="{title: 'Phone', name: 'AgentTel', type: 'text'}"
                                                        [errorForm]="errorForm"
                                                        [field]="availabilityForm.controls.AgentTel"></input-field-cmp>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">assignment</i></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Notes</label>
                                                <textarea [formControl]="availabilityForm.controls.Notes"
                                                          class="form-control"
                                                          (keyup)="autosize($event)"
                                                          (click)="autosize($event)"
                                                ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group-bottom">
                                            <button class="btn btn-success pull-right font-16 m-r-10" (click)="saveForm(availabilityForm.value)">Save</button>
                                            <button class="btn btn-danger font-16 m-l-10" (click)="toggleUpdateBlock()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" [hidden]="!propertiesService.isReading">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
