.panel-content {
	padding: 10px 20px;
}

.official-name, .box-url {
	float: none;
	display: inline-block;
	padding-right: 0;
}

.listing-name, .collaborator-initial {
	padding-left: 0;
}

.contact {
	padding: 0 10px 10px 10px;
}

a {
	cursor: pointer;
}

.add-contact {
	margin-top: 20px;
}

.bedrooms, .bathrooms {
	margin-top: 20px;
}

.hover-primary-color:hover {	
	background-color: #0b5a7c !important;
	color: white !important;
}

ng2-auto-complete {
	height: 300px;
	overflow: auto;
}

.remove-button {
	height: 66px;
    position: relative;
    top: 25px;
}

.checkbox, .radio {
	margin-top: 10px;
}

.panel-group.title-error .panel-heading a {
	color: red !important;
}