<div class="property-info">
    <div class="enquiry-header">
        <div class="image-wrp">
            <div class="image-villa">
                <cl-image data-u="image"
                          public-id="z7iro8k17pc69cguzetw"
                          cloud-name="privadia"
                          class="md-card-image"
                          crop="fill"
                          gravity="auto"
                          quality="80"
                          height="200"
                          width="600"
                          format="jpg">
                </cl-image>
            </div>
        </div>
        <div class="villa-container left">
            <div class="enquiry-status declined">Declined</div>
            <h4 class="enquiry-title">Villa Name</h4>
            <p class="location"><i class="material-icons">place</i> San Jose</p>
        </div>
        <div class="villa-container right">
            <h4 class="enquiry-title">Rental Price</h4>
            <p class="price"><i class="material-icons">euro_symbol</i> 1500</p>
        </div>
    </div>
    <div class="enquiry-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="icons-group">
                    <div class="feature">
                        <i class="material-icons">pool</i><span>3</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">hotel</i><span>3</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">group</i><span>3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="icons-group">
                    <div class="feature">
                        <i class="material-icons">person</i><span class="font-16">Mary Johnson</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">event</i><span class="font-16">06/12/17 - 06/15/17</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
