<div class="property-info" *ngIf="propertiesService.property">
    <div class="enquiry-header">
        <div class="image-wrp">
            <div class="image-villa">
                <cl-image *ngIf="propertiesService.property.Images[0]"
                          data-u="image"
                          public-id="{{propertiesService.property.Images[0].ImageId}}"
                          cloud-name="privadia"
                          class="md-card-image"
                          crop="fill"
                          gravity="auto"
                          quality="80"
                          height="150"
                          width="600"
                          format="jpg">
                </cl-image>
                <img *ngIf="!propertiesService.property.Images[0]" height="150" class="img" src="../assets/img/image_placeholder.jpg">
            </div>
        </div>
        <div class="villa-container left">
            <div *ngIf="data.DeclinedAt" class="enquiry-status declined">Declined</div>
            <div *ngIf="data.CancelledAt" class="enquiry-status declined">Cancelled</div>
            <div *ngIf="data.Proposal && data.Proposal.AcceptedAt" class="enquiry-status accepted">Accepted</div>
            <h4 class="enquiry-title">{{propertiesService.property.Name}}</h4>
            <p class="location"><i class="material-icons">place</i> {{propertiesService.property.Region.Name}}</p>
        </div>
        <div class="villa-container right">
            <h4 class="enquiry-title">Rental Price</h4>
            <p class="price"><i class="material-icons">euro_symbol</i> 1500</p>
        </div>
    </div>
    <div class="enquiry-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="icons-group">
                    <div class="feature">
                        <i class="material-icons">pool</i><span>{{propertiesService.property.Bathrooms}}</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">hotel</i><span>{{propertiesService.property.Bedrooms}}</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">group</i><span>{{propertiesService.property.Sleeps}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="icons-group">
                    <div class="feature">
                        <i class="material-icons">person</i><span class="font-16">{{data.ClientName}}</span>
                    </div>
                    <div class="feature">
                        <i class="material-icons">event</i><span class="font-16">{{dateFormat(data.CheckIn, 'DD/MM/YYYY')}} - {{dateFormat(data.CheckOut, 'DD/MM/YYYY')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
