<!--<div [formGroup]="propertyForm" class="calendar-container">-->
<div class="calendar-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="cart-content">
                <div class="c-button-group left">
                    <a (click)="changePeriod(-6)"
                       class="btn btn-round btn-fab btn-fab-mini btn-white">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                </div>
                <div class="months-container">
                    <div class="month-container" *ngFor="let month of months">
                        <div class="month">
                            <span class="month-label">{{month.monthName}}</span><br/><br/>
                             <table>
                                <thead>
                                <tr class="week names">
                                    <th class="day">S</th>
                                    <th class="day">M</th>
                                    <th class="day">T</th>
                                    <th class="day">W</th>
                                    <th class="day">T</th>
                                    <th class="day">F</th>
                                    <th class="day">S</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="week" *ngFor="let week of month.weeks">
                                    <td *ngFor="let day of week.days"
                                        class="day {{isIn(day.number,day.isCurrentMonth)}}"
                                        [ngClass]="{'different-month': !day.isCurrentMonth }">
                                        <div class="cell">
                                            <div *ngIf="day.dayType.isStart" class="period start {{day.dayType.typeStart}}"></div>
                                            <div *ngIf="day.dayType.isEnd" class="period end {{day.dayType.typeEnd}}"></div>
                                            <div *ngIf="!day.dayType.isStart && !day.dayType.isEnd" class="period {{day.dayType.type}}"></div>
                                            <div class="date">
                                                <span>{{day.number}} </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="c-button-group right">
                    <a (click)="changePeriod(6)"
                       class="btn btn-round btn-fab btn-fab-mini btn-white">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row legend-block">
        <div class="col-xs-4 legend legend-external">External Booking</div>
        <div class="col-xs-4 legend legend-internal">Internal Booking</div>
        <div class="col-xs-4 legend legend-other">Other Blocking Periods</div>
    </div>
</div>
