.cart-content {
	padding: 24px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.c-button-group {
	width: 64px;
	flex: 0 0 64px;
	text-align: center;
	margin-bottom: 40px;
}
.c-button-group.left {
	margin-left: 40px;
}
.c-button-group.right {
	margin-right: 40px;
}
.c-button-group .btn-white {
	border: solid 1px #e8e8e8;
}
.c-button-group .yearNumber {
	font-size: 24px;
	font-weight: 100;
	color: #0b5a7c;
	padding: 0 40px;
	line-height: 40px;
	display: inline-block;
}
.months-container {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}
.month-container {
	width: 33%;
	margin-bottom: 40px;
}
.month-container .month{
	max-width: 80%;
	margin: 0 auto;
}
.month-container table {
	width: 100%;
}
.month-container .month-label {
	font-size: 18px;
	font-weight: 100;
	color: #0b5a7c;
}
.month-container table .day {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #3a3a3a;
	text-align: center;
}
.month-container table th.day {
	color: #a2a2a2;
}
.month-container td.day.different-month {
	color: transparent;
}
.month-container table .day .cell {
	position:relative;
	overflow:hidden;
}
.month-container table .day .period {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.month-container table .day .date {
	position: relative;
	z-index: 102;
}
.month-container table .day .internal-period-start {
	background: linear-gradient(to right bottom, transparent 50%, rgba(229, 138, 229, 0.2) 50%);
	z-index: 100;
}
.month-container table .day .internal-period-end {
	background: linear-gradient(to left top, transparent 50%, rgba(229, 138, 229, 0.2) 50%);
	z-index: 101;
}
.month-container table .day .external-period-start {
	background: linear-gradient(to right bottom, transparent 50%, rgba(83, 153, 188, 0.2) 50%);
	z-index: 100;
}
.month-container table .day .external-period-end {
	background: linear-gradient(to left top, transparent 50%, rgba(83, 153, 188, 0.2) 50%);
	z-index: 101;
}
.month-container table .day .other-period-start {
	background: linear-gradient(to right bottom, transparent 50%, rgba(237, 237, 96, 0.2) 50%);
	z-index: 100;
}
.month-container table .day .other-period-end {
	background: linear-gradient(to left top, transparent 50%, rgba(237, 237, 96, 0.2) 50%);
	z-index: 101;
}
.form-text .control-label {
	font-size: 16px;
	color: #3a3a3a;
}
.form-text span {
	font-size: 16px;
	color: #5399bc;
}
