.cart-content {
	padding: 24px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.c-button-group {
	width: 40px;
	flex: 0 0 40px;
	text-align: center;
	margin-bottom: 40px;
}
.c-button-group.left {
	margin-left: 40px;
}
.c-button-group.right {
	margin-right: 40px;
}
.c-button-group .btn-white {
	border: solid 1px #e8e8e8;
}
.c-button-group .yearNumber {
	font-size: 24px;
	font-weight: 100;
	color: #0b5a7c;
	padding: 0 40px;
	line-height: 40px;
	display: inline-block;
}
.months-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.month-container {
	flex-grow:1;
	flex-basis:33%;
	margin-bottom: 30px;
}
.month-container .month{
	margin: 0 10%;
}
.month-container table {
	width: 100%;
}
.month-container .month-label {
	font-size: 18px;
	font-weight: 100;
	color: #0b5a7c;
}
.month-container table .day {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #3a3a3a;
	text-align: center;
}
.month-container table th.day {
	color: #a2a2a2;
}
.month-container td.day.different-month {
	color: transparent;
}
.month-container table .day .cell {
	position:relative;
	overflow:hidden;
	min-width: 30px;
}
.month-container table .day .period {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.month-container table .day .date {
	position: relative;
	z-index: 102;
}
.month-container table .day .date span {
	position: relative;
	z-index: 1010;
}
.month-container table .day .internal {
	background-color: #f7a3f8;
}
.month-container table .day .external {
	background-color: #98c2d7;
}
.month-container table .day .other {
	background-color: #f7fa86;
}
.month-container table .day .owner {
	background-color: #c6ff00;
}
.month-container table .day .period:before {
	position: absolute;
	top:0px;
	display: block;
	content: '';
	width: 24px;
	height: 24px;
	z-index: 100;
}
.month-container table .day .start,
.month-container table .day .end {
	width: 50%;
}
.month-container table .day .start {
	left: 50%;
	margin-left: 15px;
}
.month-container table .day .end {
	right: 50%;
	margin-right: 15px;
}
.month-container table .day .start:before,
.month-container table .day .end:before {
	width: 0;
	height: 0;
}
.month-container table .day .start:before {
	left:-24px;
	border-bottom-width: 24px;
	border-bottom-style: solid;
	border-left: 24px solid transparent !important;
}
.month-container table .day .end:before {
	right: -24px;
	border-top-width: 24px;
	border-top-style: solid;
	border-right: 24px solid transparent !important;
}
.month-container table .day .internal:before {
	border-color: #f7a3f8;
}
.month-container table .day .external:before {
	border-color: #98c2d7;
}
.month-container table .day .other:before {
	border-color: #f7fa86;
}
.month-container table .day .owner:before {
	border-color: #c6ff00;
}
.month-container table .day .unavailable:before {
	border-color: #D78A21;
}
.calendar-container .legend-container {
	padding-bottom: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.calendar-container .legend-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0 10%;
}
.calendar-container .legend-dummy {
	width: 80px;
}
.calendar-container .legend {
	text-align: center;
}
.calendar-container .legend:before {
	vertical-align: middle;
	content: " ";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	background-color: transparent;
}
.calendar-container .legend-external:before {
	background-color: #98c2d7;
}
.calendar-container .legend-internal:before {
	background-color: #f7a3f8;
}
.calendar-container .legend-other:before {
	background-color: #f7fa86;
}
.calendar-container .legend-owner:before {
	background-color: #c6ff00;
}
.calendar-container .legend-unavailable:before {
	background-color: #D78A21;
}
.form-text .control-label {
	font-size: 16px;
	color: #3a3a3a;
}
.form-text span {
	font-size: 16px;
	color: #5399bc;
}
